{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Devicegroups" %}{% endblock %}

{% block header %}
    {% trans "Devicegroups" %}
{% endblock %}

{% block pullright %}
    {% if perms.devicegroups.add_devicegroup %}
        <a href="{% url 'devicegroup-add' %}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> {% trans "Add Devicegroup" %}
        </a>
    {% endif %}
    <form class="form-inline d-inline-block" method="get" data-autosubmit="change">
        {{ viewform.department }}
        {{ viewform.sorting }}
        {{ filterform.filter }}
    </form>
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        {% for devicegroup in devicegroup_list %}
            <tr>
                <td>
                    <a href="{% url 'devicegroup-detail' devicegroup.id %}">{{ devicegroup.name|default:_("(None)") }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}