{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Devicegroups" %}{% endblock %}

{% block header %}
    {% trans "Devicegroups" %}
{% endblock %}

{% block pullright %}
    {{ filterform.filterstring }}
    {{ viewform.viewsorting }}
    {{ viewform.departmentfilter }}
    {% if perms.devicegroups.add_devicegroup %}
        <a href="{% url 'devicegroup-add' %}" class="btn btn-success btn-sm pull-right">
        <i class="fa fa-plus" style="margin-right:7px"></i>{% trans "Add Devicegroup" %}</a>{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% include "snippets/devicegrouppagination.html" with listurl='devicegroup-list' %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                </tr>
                </thead>
                {% for devicegroup in devicegroup_list %}

                    <tr>
                        <td>
                            <a href="{% url 'devicegroup-detail' devicegroup.id %}">{{ devicegroup.name | default:"(None)" }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% include "snippets/devicegrouppagination.html" with listurl='devicegroup-list' %}
        </div>
    </div>
{% endblock %}

{% block scriptend %}
    if ($("#id_departmentfilter").val() == "") {
        department = "all"
    } else {
        department = $('#id_departmentfilter').val()
    }
    $('#id_viewsorting').change(function() {
    if ($("#id_filterstring").val() != "") {
    window.location = "/devicegroups/department/" + department + "/sorting/" + $(this).val() + "/filter/" + $("#id_filterstring").val()
    } else {
    window.location = "/devicegroups/department/" + department + "/sorting/" + $(this).val()
    }
    });
    $('#id_filterstring').change(function() {
    window.location = "/devicegroups/department/" + department + "/sorting/" + $("#id_viewsorting").val() + "/filter/" + $(this).val()
    });
        $('#id_departmentfilter').change(function() {
    if ($("#id_departmentfilter").val() == "") {
        department = "all"
    } else {
        department = $('#id_departmentfilter').val()
    }
    window.location = "/devicegroups/department/" + department + "/sorting/" + $("#id_viewsorting").val() + "/filter/" + $("#id_filterstring").val()
    });
    {% include "snippets/devicegrouppagination_js.html" with pageurl="devicegroup-list" %}
{% endblock %}