{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "IP-Addresses" %}{% endblock %}

{% block header %}
    {% trans "IP-Addresses" %}
{% endblock %}

{% block pullright %}
    {% if perms.network.add_ipaddress %}
        <a href="{% url 'ipaddress-add' %}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> {% trans "Add IP-Address" %}
        </a>
    {% endif %}
    <form class="form-inline d-inline-block" method="get" data-autosubmit="change">
        {{ viewform.department }}
        {{ viewform.category }}
        {{ filterform.filter }}
    </form>
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped" data-table data-b-filter="false" data-paging="false">
        <thead>
            <tr>
                <th>{% trans "IP Address" %}</th>
                <th>{% trans "Used by" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for ipaddress in ipaddress_list %}
                <tr>
                    <td><a href="{% url 'ipaddress-detail' ipaddress.id %}">{{ ipaddress.address }}</a></td>
                    {% if ipaddress.device__pk %}
                        <td>
                            {% trans "Device" %}:
                            <a href="{% url 'device-detail' ipaddress.device__pk %}">{{ ipaddress.device__name }}</a>
                        </td>
                    {% elif ipaddress.user__pk %}
                        <td>
                            {% trans "User" %}:
                            <a href="{% url 'userprofile' ipaddress.user__pk %}">
                                {% if ipaddress.user__first_name and ipaddress.user__last_name %}
                                    {{ ipaddress.user__first_name }} {{ ipaddress.user__last_name }}
                                {% else %}
                                    {{ ipaddress.user__username }}
                                {% endif %}
                            </a>
                        </td>
                    {% else %}
                        <td>{% trans "Not assigned" %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
