{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ipaddress.address}}{% endblock %}

{% block header %}
{% trans "IP-Adress" %}: {{ipaddress.address}}
{% endblock %}

{% block pullright %}
{% if perms.network.delete_ipaddress %}<a href="#" id="deletebutton" data-toggle="popover" class="btn btn-danger btn-sm pull-right"style="margin-left:10px"><i class="fa fa-trash-o" style="margin-right:7px"></i>{% trans "Delete" %}</a>{% endif %}
{% if perms.network.change_ipaddress %}<a href="{% url 'ipaddress-edit' ipaddress.id %}" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>{% endif %}
{% if "ipaddress" in LABEL_TEMPLATES %}
<a href="#" class="btn btn-primary pull-right btn-sm" style="margin-left:10px" data-target="#printDymoModal" data-toggle="modal"><i class="fa fa-print" style="margin-right:7px"></i>{% trans "Print Label" %}</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-xs-12">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr><td>Address</td><td>{{ipaddress.address}}</td></tr>
          <tr><td>Device</td><td>{% if ipaddress.device %}<a href="{% url 'device-detail' ipaddress.device.id %}">{{ipaddress.device}}</a>{% else %}{% trans "Not assigned" %}{% endif %}</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{%block htmlend %}
{% if "ipaddress" in LABEL_TEMPLATES %}
{% include "snippets/modals/deviceprintDymoModal.html" with modalname="printDymoModal" label_path=LABEL_TEMPLATES.ipaddress.0 %}
{% endif %}
{% endblock %}

{% block scriptend %}
{% if perms.network.delete_ipaddress %}
$("#deletebutton").popover({
    html: 'true',
    placement: "bottom",
    title : '<span class="text-info" style="margin-right:10px"><strong>{% trans "are you sure?" %}</strong></span>',
content : "<form action='{% url "ipaddress-delete" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<button type='button' class='btn btn-default' onclick='$(&quot;#deletebutton&quot;).popover(&quot;hide&quot;);'>{% trans "No" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right' />"+
          "</form>"
          })
{% endif %}
{% endblock %}