{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% load usertags %}

{% block title %}{{ ipaddress.address }}{% endblock %}

{% block header %}
    {% trans "IP-Adress" %}: {{ ipaddress.address }}
{% endblock %}

{% block pullright %}
    {% if "ipaddress" in LABEL_TEMPLATES %}
        <a href="#" class="btn btn-primary btn-sm" data-target="#printDymoModal" data-toggle="modal">
            <i class="fa fa-print"></i> {% trans "Print Label" %}
        </a>
    {% endif %}
    {% has_perm 'network.change_ipaddress' user ipaddress as can_change_ipaddress %}
    {% if can_change_ipaddress %}
        <a href="{% url 'ipaddress-edit' ipaddress.id %}" class="btn btn-primary btn-sm">
            <i class="fa fa-pencil"></i> {% trans "Edit" %}
        </a>
    {% endif %}
    {% has_perm 'network.delete_ipaddress' user ipaddress as can_delete_ipaddress %}
    {% if can_delete_ipaddress %}
        {% deletebutton "ipaddress-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>{% trans "Address" %}</td>
                    <td>{{ ipaddress.address }}</td>
                </tr>
                <tr>
                    <td>{%  trans "Department" %}</td>
                    <td>{{ ipaddress.department|default:_("None") }}</td>
                </tr>
                {% if ipaddress.device.pk %}
                    <tr>
                        <td>{% trans "Device" %}</td>
                        <td><a href="{% url 'device-detail' ipaddress.device.id %}">{{ ipaddress.device }}</a></td>
                    </tr>
                {% elif ipaddress.user.pk %}
                    <tr>
                        <td>{% trans "User" %}</td>
                        <td><a href="{% url 'userprofile' ipaddress.user.id %}">{{ ipaddress.user }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td>{% trans "Not assigned" %}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{% trans "Purpose" %}</td>
                    <td>{{ ipaddress.purpose|default:_("None") }}</td>
                </tr>
                <tr>
                    <td>{% trans "Last seen" %}</td>
                    <td>{{ ipaddress.last_seen|default:_("never") }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block htmlend %}
    {% if "ipaddress" in LABEL_TEMPLATES %}
        {% include "snippets/modals/deviceprintDymoModal.html" with modalname="printDymoModal" label_path=LABEL_TEMPLATES.ipaddress.0 %}
    {% endif %}
{% endblock %}
