*.pyc
*.mo
database.db
mails/
.spyderproject
.spyderworkspace
.idea/
*.pyo
newrelic.ini
settings.py
*.label
.coverage
htmlcov/
staticserve/
.DS_Store
django.mo
media/
scripts/
exports/
backup/
node_modules/
/Pipfile
/Pipfile.lock
/venv
