language: python
python:
  - "2.7"
# command to install dependencies
install:
  - "pip install -r dependencies.txt"
  - npm install -g casperjs
  # create the database
  - "cp Lagerregal/settings_template.py Lagerregal/settings.py"
  - "./manage.py migrate"
# command to run tests
script: "./manage.py test"
