django ~= 4.0
django-reversion >= 4.0.0
djangorestframework >= 3.13.0
Pillow
django-oauth-toolkit
pytz == 2020.4
pystache
model_mommy
django_auth_ldap
django-favicon
django-npm
django-select2
psycopg2-binary
faker~=4.1.1
reportlab
requests
pdfrw
