{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block extracss %}
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        h1 {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: #1abc9c;
            margin-bottom: 20px;
        }

        .alert {
            max-width: 500px;
            margin: auto;
            margin-bottom: 15px;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            padding-top: 0px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="text"] {
            margin-bottom: -2px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h1><i class="fa fa-archive"></i> {{ SITE_NAME }}</h1>
    {% if form.errors %}
        <div data-alert class="alert-danger alert">
            {% trans "Your username and password didn't match. Please try again." %}
        </div>
    {% endif %}
    <form method="post" action="{% url 'login' %}" class="form-signin" role="form">
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Please log in" %}</h2>
        <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="{% trans "username" %}">
        <input id="id_password" name="password" type="password" class="form-control" placeholder="{% trans "Password" %}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
        {% else %}
            <input type="hidden" name="next" value="{% url 'home' %}"/>
        {% endif %}

        <a href="{% url "public-device-list" %}" class="btn btn-info btn-block" style="margin-top:30px">
            <i class="fa fa-globe"></i> {% trans "Public Device List" %}
        </a>
    </form>
{% endblock %}
