{% load i18n %}
<div id="device-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        {% for picture in device.pictures.all %}
            <li data-target="#device-carousel" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner">
        {% for picture in device.pictures.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ picture.image.url }}" alt="{{ picture.caption }}" class="d-block w-100">
                {% if picture.caption %}
                    <div class="carousel-caption">
                        {{ picture.caption }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#device-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Previous' %}</span>
    </a>
    <a class="carousel-control-next" href="#device-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Next' %}</span>
    </a>
</div>