{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}
{% load static %}

{% block title %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block header %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block content %}
    <form method="post" id="form">{% csrf_token %}
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">{% trans "Name" %}</label>
                {{ form.name|add_class:'form-control' }}
            </div>
            <div class="form-group col-md-3">
                <label for="deviceType">{% trans "Devicetype" %}</label>
                {{ form.devicetype|add_class:'form-control' }}
            </div>
            <div class="form-group col-md-3">
                <label for="name">{% trans "Department" %}</label>
                {{ form.department|add_class:'form-control' }}
            </div>
            <div class="form-group col-md-3">
                <label for="name">{% trans "Operating System" %}</label>
                {{ form.operating_system|add_class:'form-control' }}
            </div>
        </div>
        {% if form.instance.id %}
            <hr />
            <div class="row mb-3">
                <div class="col-md-6">
                    <h4>{% trans "Lagerregal ID" %}: <b>{{ form.instance.id }}</b></h4>
                </div>
                <div class="col-md-6">
                    <h4>{% trans "Hostname" %}: <b>{{ form.instance.hostname }}</b></h4>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="serialnumber">{% trans "Serialnumber" %}</label>
                    {{ form.serialnumber|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-6">
                    <label for="inventorynumber">{% trans "Inventorynumber" %}</label>
                    {{ form.inventorynumber|add_class:'form-control' }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="room">{% trans "Room" %}</label>
                    {{ form.room|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-6">
                    <label for="room">{% trans "IP-Addresses" %}</label>
                    {{ form.ipaddresses|add_class:'form-control' }}
                </div>
            </div>
            <div>
                <button class="btn btn-primary">{% trans "Save Device" %}</button>
                {% if display_printbutton %}
                <button type="button" class="btn btn-success pull-right" data-target="#printDymoModal" data-toggle="modal">
                    <i class="fa fa-print" aria-hidden="true"></i> {% trans "Print Label" %}
                </button>
                {% endif %}
            </div>
        {% else %}
            <button class="btn btn-primary">{% trans "Create Device" %}</button>
        {% endif %}
    </form>
    {% if display_printbutton %}
        {% include "snippets/modals/deviceprintDymoModal.html" with modalname="printDymoModal" label_path=label_path %}
    {% endif %}
{% endblock %}
