{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block header %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well well-lg">
            <form action="" method="post" id="forms">{% csrf_token %}
                {% for field in form %}
                    {% if field.html_name == "extra_fieldcount" %}
                        {{ field }}
                    {% else %}
                        <div class="form-group row {{ field.css_classes }}">
                            <label for="{{ field.html_name }}" class="col-lg-4 control-label">
                                {{ field.label }}{% if field.field.required %}*{% endif %}
                            </label>

                            <div class="col-lg-8">
                                {{ field|add_class:'form-control' }}
                                <p class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <input type="submit" value="{% trans "Submit" %}" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scriptend %}
    $("input:text[name=name]").keyup(function() {
        if ($(this).val().length > 1) {
            $.ajax({
                url: "{% url "autocomplete-name" %}",
                data: {
                    'classtype': '{{ type }}',
                    'name': $(this).val(),
                },
            }).done(function(data){
                if (data !== "") {
                    if ($("#alternatives").length === 0) {
                        $("input:text[name=name]").after("\
                            <div class='alert-danger alert' id='alternativebox'>There seem to be objects with similar name. Do you maybe mean
                                one of those?\
                                <ul id='alternatives' class='list-unstyled'></ul>
                                \
                            </div>");
                    }
                    $("#alternatives").empty();
                    for (var i=0; i < data.length; i++) {
                        $("#alternatives").append(data[i]);
                    };
                } else {
                    $("#alternativebox").remove();
                }
            });
        }
    });

    {% autoescape off %}{{ form_scripts }}{% endautoescape %}
{% endblock %}