{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% block title %}{{ object.name }}{% endblock %}

{% block header %}
    {% trans "Devicetype" %}: {{ object.name }}
{% endblock %}
{% block pullright %}
    {% if perms.devicetypes.delete_type %}
        <a href="#" id="deletebutton" data-toggle="popover" class="btn btn-danger btn-sm pull-right"
           style="margin-left:10px"><i class="fa fa-trash-o" style="margin-right:7px"></i>{% trans "Delete" %}</a>
    {% endif %}
    {% if "type" in LABEL_TEMPLATES %}
        <a href="#" class="btn btn-primary pull-right btn-sm" style="margin-left:10px" data-target="#printDymoModal"
           data-toggle="modal"><i class="fa fa-print" style="margin-right:7px"></i>{% trans "Print Label" %}</a>
    {% endif %}
    {% if perms.devicetypes.change_type %}
        <a href="{{ object.get_edit_url }}" class="btn btn-primary btn-sm pull-right" style="margin-left:10px">
        <i class="fa fa-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>
        <a href="#" class="button right small dropdown" data-dropdown="mergedropdown"></a>
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-share" style="margin-right:7px"></i>{% trans "Merge" %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for merge in merge_list %}
                    <li><a href="{% url 'type-merge' object.pk merge.pk %}">{{ merge.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <h4>{% trans "Extra attributes" %}</h4>
            <ul>
                {% for attribute in attribute_list %}
                    {% if perms.devicetypes.change_type %}
                        <li><a href="#" class="attribute" data-id="{{ attribute.id }}" data-name="{{ attribute.name }}"
                               data-regex="{{ attribute.regex }}">{{ attribute.name }}</a></li>
                    {% else %}
                        <li>{{ attribute.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% if perms.devicetypes.change_type %}
                <a href="#" data-target="#newAttributeModal" data-toggle="modal" class="btn btn-default btn-sm">
                <i class="fa fa-plus" style="margin-right:7px"></i>{% trans "Add new Attribute" %}</a>{% endif %}
        </div>
        <div class="col-xs-12 col-md-7">
            {% if perms.devices.read_device %}
                {% if device_list %}
                    <h4>{% trans "Devices" %}</h4>
                    <table width="100%" id="devicetable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Inventorynumber" %}</th>
                            <th>{% trans "Devicetype" %}</th>
                            <th>{% trans "Room" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for device in device_list %}
                            <tr>
                                <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
                                <td>{{ device.inventorynumber }}</td>
                                <td>{{ device.devicetype }}</td>
                                <td>{{ device.room }} ({{ device.room.building }})</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if perms.devicetypes.change_type %}
        {% include "snippets/modals/attribute.html" with modalname="attributeModal" %}

        {% include "snippets/modals/newAttribute.html" with modalname="newAttributeModal" %}
    {% endif %}
{% endblock %}

{% block htmlend %}
    {% if "type" in LABEL_TEMPLATES %}
        {% include "snippets/modals/deviceprintDymoModal.html" with modalname="printDymoModal" label_path=LABEL_TEMPLATES.type.0 %}
    {% endif %}
{% endblock %}

{% block scriptend %}
    {% if perms.devicetypes.change_type %}
        $('.attribute').click(function() {
        var editurl = $("#attribute_editform").attr("action")
        editurl = editurl.replace(new RegExp("0" + '$'), $(this).data("id"))
        $("#attribute_editform").attr("action", editurl)
        var deleteurl = $("#attribute_deleteform").attr("action")
        deleteurl = deleteurl.replace(new RegExp("0" + '$'), $(this).data("id"))
        $("#attribute_deleteform").attr("action", deleteurl)
        $("#attributeModal").find("#id_name").val($(this).data("name"));
        $("#attributeModal").find("#id_regex").val($(this).data("regex"));
        $('#attributeModal').modal('show')
        })
    {% endif %}

    {% if perms.devicetypes.delete_type %}
        $("#deletebutton").popover({
        html: 'true',
        placement: "bottom",
        title : '<span class="text-info" style="margin-right:10px"><strong>{% trans "are you sure?" %}</strong></span>',
        content :"<form action='{% url "type-delete" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<button type='button' class='btn btn-default'onclick='$(&quot;#deletebutton&quot;).popover(&quot;hide&quot;);'>{% trans "No" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right'/>"+
            "</form>"
        })
    {% endif %}
{% endblock %}