{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Devicetypes" %}{% endblock %}

{% block header %}
    {% trans "Devicetypes" %}
{% endblock %}

{% block pullright %}
    {% if perms.devicetypes.add_type %}
        <a href="{% url 'type-add' %}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> {% trans "Add Devicetype" %}
        </a>
    {% endif %}
    <form class="form-inline d-inline-block" method="get" data-autosubmit="change">
        {{ viewform.sorting }}
        {{ filterform.filter }}
    </form>
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for type in type_list %}
                <tr>
                    <td><a href="{% url 'type-detail' type.id %}">{{ type.name|default:_("(None)") }}</a></tr>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}