{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Devicetypes" %}{% endblock %}

{% block header %}
{% trans "Devicetypes" %}
{% endblock %}

{% block pullright %}
<a href="{% url 'type-add' %}" class="button success small right">{% trans "Add Devicetype" %}</a>
{% endblock %}

{% block content %}
<ul>
  {% for type in type_list %}
  <li><a href="{% url 'type-detail' type.id %}">{{type.name}}</a></li>
  {% endfor %}
</ul>
{% include "snippets/pagination.html" with listurl='type-list' %}
{% endblock %}

{% block scriptend %}
{% endblock %}