{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Devicetags" %}{% endblock %}

{% block header %}
    {% trans "Devicetags" %}
{% endblock %}

{% block pullright %}
    {% if perms.devicetags.add_devicetag %}
        <a href="{% url 'devicetag-add' %}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> {% trans "Add Devicetag" %}
        </a>
    {% endif %}
    <form class="form-inline d-inline-block" method="get" data-autosubmit="change">
        {{ viewform.sorting }}
        {{ filterform.filter }}
    </form>
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        {% for devicetag in devicetag_list %}
            <tr>
                <td>
                    <a href="{% url 'devicetag-edit' devicetag.id %}">{{ devicetag.name|default:_("(None)") }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include "snippets/pagination.html" %}
{% endblock %}
