{% extends "snippets/modals/base.html" %}
{% load i18n %}
{% load devicetags %}

{% block modalHeader %}
    <h4 class="modal-title">{% trans "Edit the Attribute" %}</h4>
{% endblock %}

{% block modalBody %}
    <form role="form" action="{% url "typeattribute-edit" 0 %}" method="post" id="attribute_editform">
        {% csrf_token %}

        <div class="form-group row">
            <label for="id_name" class="col-lg-5 control-label">{% trans "Name" %}</label>

            <div class="col-lg-7">
                <input id="id_name" name="name" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="id_regex" class="col-lg-5 control-label">{% trans "Regular Expression" %}</label>

            <div class="col-lg-7">
                <input id="id_regex" name="regex" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-offset-5 col-lg-7">
                <input type="submit" value="{% trans "Edit" %}" class="btn btn-primary pull-right"/>
            </div>
        </div>
        <input type="hidden" name="devicetype" value="{{ object.id }}">
    </form>
{% endblock %}

{% block modalFooter %}
    <div class="alert-danger alert">
        {% trans "Do you want to delete the attribute?" %}
    </div>
    <form action="{% url "typeattribute-delete" 0 %}" method="post" id="attribute_deleteform">
        {% csrf_token %}
        <input type="submit" value="{% trans "Yes" %}" class="btn btn-danger"/>
        <input type="hidden" name="next" value="{% url "type-detail" object.id %}">
    </form>
{% endblock %}
