{% extends "snippets/modals/base.html" %}
{% load i18n %}{% load devicetags %}{% load staticfiles %}

{% block modalHeader %}
    {% trans "Print Dymo Label" %}
    <script src="{% static "js/DYMO.Label.Framework.3.0.js" %}"></script>
    <script>
        $('#printDymoModal').on('show.bs.modal', function (e) {
            loadPrinters();
            labelUri = "https://{{ request.get_host }}{% static label_path %}";
            label = dymo.label.framework.openLabelFile(labelUri);
            {% autoescape off %}{{label_js}}{% endautoescape %}
            updatePreview(label);
            printButton.onclick = function () {
                try {
                    label.print(printersSelect.value);
                }
                catch (e) {
                    alert(e.message || e);
                }
                finally {
                    $('#printDymoModal').modal('hide')
                }
            }
        })
    </script>
{% endblock %}

{% block modalBody %}
    <script>
        function updatePreview(label) {
            if (!label)
                return;

            var pngData = label.render();
            var labelImage = document.getElementById('labelImage');
            labelImage.src = "data:image/png;base64," + pngData;
        }

        function loadPrinters() {
            var printers = dymo.label.framework.getPrinters();
            var printersSelect = $('#printersSelect');
            if (printers.length == 0) {
                var option = document.createElement('option');
                option.appendChild(document.createTextNode("No DYMO-Printers found"));
                printersSelect.append(option);
                printButton.disabled = true;
                return;
            }

            for (var i = 0; i < printers.length; i++) {
                var printer = printers[i];
                if (printer.printerType == "LabelWriterPrinter") {
                    var printerName = printer.name;

                    var option = document.createElement('option');
                    option.value = printerName;
                    option.appendChild(document.createTextNode(printerName));
                    printersSelect.append(option);
                }
                printersSelect.val(printersSelect.children('option:eq(0)').val());
            }
        }
    </script>

    <div id="printersDiv">
        <label for="printersSelect">{% trans "Printers" %}</label>
        <select id="printersSelect"></select>
    </div>

    <div id="labelImageDiv">
        <img id="labelImage" src=""/>
    </div>
{% endblock %}


{% block modalFooter %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
    <button id="printButton" type="button" class="btn btn-secondary">{% trans "Print" %}</button>
{% endblock %}
