{% load i18n %}
{% load devicetags %}
{% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}

            {% if viewform.viewfilter.value == "active" and viewform.viewsorting.value == "name" %}
                <li class="previous"><a href="{% url 'device-list' 1 %}" style="margin-right:5px"><i
                        class="fa fa-double-angle-left"></i> {% trans "First" %}</a></li>
                <li class="previous"><a href="{% url 'device-list' page_obj.previous_page_number %}"><i
                        class="fa fa-angle-left"></i> {% trans "Previous" %}</a></li>
            {% else %}
                <li class="previous"><a
                        href="{% url 'device-list'  1 viewform.viewsorting.value viewform.viewfilter.value %}"
                        style="margin-right:5px"><i class="fa fa-double-angle-left"></i> {% trans "First" %}</a></li>
                <li class="previous"><a
                        href="{% url 'device-list' page_obj.previous_page_number viewform.viewsorting.value viewform.viewfilter.value %}"><i
                        class="fa fa-angle-left"></i> {% trans "Previous" %}</a></li>
            {% endif %}
        {% else %}
            <li class="previous disabled"><a href="#"><i class="fa fa-angle-left"></i> {% trans "Previous" %}</a></li>
        {% endif %}
        <li class="current">{% trans "Page" %}
            <select class="pageselect">
                {% for pagenumber in  page_obj.paginator.num_pages|get_range %}
                    {% if pagenumber|add:"1" == page_obj.number %}
                        <option selected>{{ pagenumber|add:"1" }}</option>
                    {% else %}
                        <option>{{ pagenumber|add:"1" }}</option>
                    {% endif %}
                {% endfor %}
            </select> {% trans "of" %} {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
            {% if viewform.viewfilter.value == "active" and viewform.viewsorting.value == "name" %}
                <li class="next"><a href="{% url 'device-list' page_obj.paginator.num_pages %}"
                                    style="margin-left:5px">{% trans "Last" %} <i class="fa fa-double-angle-right"></i></a>
                </li>
                <li class="next"><a href="{% url 'device-list' page_obj.next_page_number %}">{% trans "Next" %} <i
                        class="fa fa-angle-right"></i></a></li>
            {% else %}
                <li class="next"><a
                        href="{% url 'device-list' page_obj.paginator.num_pages viewform.viewsorting.value viewform.viewfilter.value %}"
                        style="margin-left:5px">{% trans "Last" %} <i class="fa fa-double-angle-right"></i></a></li>
                <li class="next"><a
                        href="{% url 'device-list' page_obj.next_page_number viewform.viewsorting.value viewform.viewfilter.value %}">{% trans "Next" %}
                    <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        {% else %}
            <li class="next disabled"><a href="">{% trans "Next" %} <i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>
{% endif %}