{% load i18n %}
{% if is_paginated %}
  <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
          {% if viewform.viewfilter.value == "all" %}<a href="{% url 'ipaddress-list' page_obj.previous_page_number %}">&larr; {% trans "Older" %}</a>
          {% else %}
          <a href="{% url 'ipaddress-list-filtered' page_obj.previous_page_number viewform.viewfilter.value %}">&larr; {% trans "Older" %}</a>
          {% endif %}</li>
        {% else %}
          <li class="previous disabled"><a href="#">&larr; {% trans "Older" %}</a></li>
        {% endif %}
                <li class="current">{% blocktrans with pagenumber=page_obj.number numpages=page_obj.paginator.num_pages %}Page {{ pagenumber }} of {{ numpages }} {% endblocktrans %}</li>
        {% if page_obj.has_next %}
        <li class="next">
          {% if viewform.viewfilter.value == "all" %}<a href="{% url 'ipaddress-list' page_obj.next_page_number %}">{% trans "Newer" %} &rarr;</a>
          {% else %}
          <a href="{% url 'ipaddress-list-filtered' page_obj.next_page_number viewform.viewfilter.value %}">{% trans "Newer" %} &rarr;</a>
          {% endif %}
            {% else %}
          <li class="next disabled"><a href="">{% trans "Newer" %} &rarr;</a></li>
        {% endif %}
  </ul>
{% endif %}