{% load i18n %}
{% load devicetags %}

{% if is_paginated %}
    <nav class="d-flex justify-content-between mb-3">
        <div>
            {% if page_obj.has_previous %}
                <a href="{% current_url page=1 %}" class="btn btn-success"><i class="fa fa-double-angle-left"></i> {% trans "First" %}</a>
                <a href="{% current_url page=page_obj.previous_page_number %}" class="btn btn-success"><i class="fa fa-angle-left"></i> {% trans "Previous" %}</a>
            {% else %}
                <button name="page" disabled class="btn btn-success"><i class="fa fa-double-angle-left"></i> {% trans "First" %}</button>
                <button name="page" disabled class="btn btn-success"><i class="fa fa-angle-left"></i> {% trans "Previous" %}</button>
            {% endif %}
        </div>
        <form class="d-flex justify-content-between mb-3" method="get" data-autosubmit="change">
            {% for name, value in request.GET.items %}
                {% if name != 'page' %}
                    <input type="hidden" name="{{ name }}" value="{{ value }}">
                {% endif %}
            {% endfor %}

            <label>
                {% trans "Page" %}
                <select class="pageselect" name="page">
                    {% for pagenumber in page_obj.paginator.num_pages|get_range %}
                        {% if pagenumber|add:"1" == page_obj.number %}
                            <option selected>{{ pagenumber|add:"1" }}</option>
                        {% else %}
                            <option>{{ pagenumber|add:"1" }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% trans "of" %} {{ page_obj.paginator.num_pages }}
            </label>
        </form>
        <div>
            {% if page_obj.has_next %}
                <a href="{% current_url page=page_obj.next_page_number %}" class="btn btn-success">{% trans "Next" %} <i class="fa fa-angle-right"></i></a>
                <a href="{% current_url page=page_obj.paginator.num_pages %}" class="btn btn-success">{% trans "Last" %} <i class="fa fa-double-angle-right"></i></a>
            {% else %}
                <button name="page" disabled class="btn btn-success">{% trans "Next" %} <i class="fa fa-angle-right"></i></button>
                <button name="page" disabled class="btn btn-success">{% trans "Last" %} <i class="fa fa-double-angle-right"></i></button>
            {% endif %}
        </div>
    </nav>
{% endif %}