{% load i18n %}
function getHashParams() {

    var hashParams = {};
    var e,
        a = /\+/g,  // Regex for replacing addition symbol with a space
        r = /([^&;=]+)=?([^&;]*)/g,
        d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
        q = window.location.hash.substring(1);

    while (e = r.exec(q))
       hashParams[d(e[1])] = d(e[2]);

    return hashParams;
}



$(document).ready(function() {
    var visualSearch = VS.init({
        container : $('.visual_search'),
        query     : '{{ searchterm }}',
        callbacks : {
            search       : function(query, searchCollection) {
                search();
            },
            // These are the facets that will be autocompleted in an empty input.
            facetMatches : function(callback) {
                callback([
                    {value: "text", label: "Text"},
                    {value: "manufacturer", label: "Manufacturer"},
                    {value: "room", label: "Room"},
                    {value: "devicegroup", label: "Devicegroup"},
                    {value: "devicetype", label: "Devicetype"},
                    {value: "user", label: "User"},
                    {value: "ipaddress", label: "IP-Address"},
                    {value: "status", label: "Status"},
                    {value: "id", label: "ID"},
                    {value: "shortterm",   label: "Short term" },
                    {value: "archived",   label: "Archived" },
                    {value: "inventoried",   label: "Inventoried" },
                    {value: "trashed",   label: "Trashed" },
                    {value: "tag", label: "Tag"},
                    {value: "department", label: "Department"},
                    {value: "hostname", label: "Hostname"},
                    {value: "serialnumber", label: "Serialnumber"},
                    {value: "inventorynumber", label: "Inventorynumber"},
                ]);
            },
            // These are the values that match specific categories, autocompleted
            // in a category's input field.  searchTerm can be used to filter the
            // list on the server-side, prior to providing a list to the widget.
            valueMatches : function(facet, searchTerm, callback) {
            switch (facet) {
                case 'status':
                    callback([
                        { value: 'all', label: '{% trans "All" %}' },
                        { value: 'available',   label: '{% trans "Available" %}' },
                        { value: 'active',   label: '{% trans "Active (Default)" %}' },
                        { value: 'lent',   label: '{% trans "Lent" %}' },
                        { value: 'archived',   label: '{% trans "Archived" %}' },
                        { value: 'trashed',   label: '{% trans "Trashed" %}' },
                        { value: 'overdue',   label: '{% trans "Overdue" %}' }
                    ]);
                break;
            case "ipaddress":
                break;
            case "text":
                break;
            case "shortterm":
                callback([
                    { value: 'yes', label: '{% trans "Yes" %}' },
                    { value: 'no',   label: '{% trans "No" %}' },
                ]);
                break;
            case "archived":
            case "inventoried":
            case "trashed":
                callback([
                ]);
                break;
            default:
                $.ajax({
                    type: "POST",
                    url: "{% url "load-searchoptions" %}",
                    data: {facet: facet, searchTerm: searchTerm}
                }).done(function(data) {
                    callback(data)
                });
                break;
            }
        }
    }
});

function search() {
    if (!firstLoad || !params["searchterm"]) {
        location.hash = $.param({"searchterm": visualSearch.searchBox.value()})
    }
    firstLoad = false

    $("#searchresult").fadeOut(100);
    l.start()
    setTimeout(function() {
        $.ajax({
            type: "POST",
            url: "{% url "ajax-search" %}",
            data: {"search": JSON.stringify(visualSearch.searchQuery.facets())},
            dataType: 'text',
        }).done(function(data){
            $("#searchresult").html(data)
            var table = $("#devicetable").dataTable({
                "bFilter": false
            });
            if (params["page"]) {
                table.api().page(parseInt(params["page"])).draw( false );
            }
            $("#devicetable").on( 'page.dt',   function () {
                var page = table.api().page();
                location.hash = $.param({"searchterm": visualSearch.searchBox.value(), "page":page})
            });

            $("#searchresult").fadeIn(100, function() {
                l.stop();
            });
            $("#exportbutton").click(function(){
                $("#export-searchrequest").val(JSON.stringify(visualSearch.searchQuery.facets()));
                $("#exportform").submit()
            });
        }).error(function(data){
            l.stop();
        });
    }, 500);
}

var l = Ladda.create(document.querySelector( '#searchbutton' ));
var baseurl = "{% url "search" %}"



firstLoad = true;
params = getHashParams()



$("#searchbutton").click(function(){
    search();
});

{% if searchterm != None %}
    search();
{% endif %}

params = getHashParams()

if (params["searchterm"]) {
    visualSearch.searchBox.value(params["searchterm"])
    $("#searchbutton").trigger("click");
}

});
