{% load i18n %}
 $(document).ready(function() {
var visualSearch = VS.init({
      container : $('.visual_search'),
      query     : '',
      callbacks : {
        search       : function(query, searchCollection) {},
  // These are the facets that will be autocompleted in an empty input.
  facetMatches : function(callback) {
    callback([
      {value: "text", label: "{% trans "Text" %}"},
      {value: "manufacturer", label: "{% trans "Manufacturer" %}"},
      {value: "room", label: "{% trans "Room" %}"},
      {value: "devicetype", label: "{% trans "Devicetype" %}"},
      {value: "user", label: "{% trans "User" %}"},
      {value: "ipaddress", label: "{% trans "IP-Address" %}"},
    ]);
  },
  // These are the values that match specific categories, autocompleted
  // in a category's input field.  searchTerm can be used to filter the
  // list on the server-side, prior to providing a list to the widget.
  valueMatches : function(facet, searchTerm, callback) {
    $.ajax({
        type: "POST",
        url: "{% url "load-searchoptions" %}",
        data: {facet: facet, searchTerm: searchTerm}
    }).done(function(data) {
        callback(data)
    });
  }
}
    });

    $("#searchbutton").click(function(){
        $("#searchresult").fadeOut(100);
            $("#searchspinner").fadeIn(100);
        $.ajax({
            type: "POST",
            url: "{% url "ajax-search" %}",
            data: {"search": JSON.stringify(visualSearch.searchQuery.facets())}
        }).done(function(data){
            $("#searchresult").html(data)
            $("#searchspinner").fadeOut(100, function() {
                $("#searchresult").fadeIn(100);
            });
        });
    });
});
