<form method="post" id="searchform">{% csrf_token %}
	<div class="row">
		<div class="small-3 columns {{form.name.css_classes}}  {{form.namemodifier.css_classes}}">	
		<label>Name</label>
		<div class="row collapse">
		    <div class="small-8 columns">
		      {{form.searchname}}
		    </div>
		    <div class="small-4 columns">
		      {{form.namemodifier}}
		    </div>
		  </div>
		    {% if form.name.errors %}<small style="padding-top:20px">Name: {% for error in form.name.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.namemodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.namemodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.bildnumber.css_classes}} {{form.bildnumbermodifier.css_classes}}">
		<label>Bildnumber</label>
		<div class="row collapse">
		    <div class="small-8 columns">
		      {{form.bildnumber}}
		    </div>
		    <div class="small-4 columns">
		      {{form.bildnumbermodifier}}
		    </div>
		  </div>
		  {% if form.buildnumber.errors %}<small style="padding-top:20px">Buildnumber: {% for error in form.buildnumber.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.buildnumbermodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.buildnumbermodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.serialnumber.css_classes}} {{form.serialnumbermodifier.css_classes}}">
		<label>Serialumber</label>
		<div class="row collapse">
		    <div class="small-8 columns">
		      {{form.serialnumber}}
		    </div>
		    <div class="small-4 columns">
		      {{form.serialnumbermodifier}}
		    </div>
		  </div>
		    {% if form.serialnumber.errors %}<small style="padding-top:20px">Serialnumber: {% for error in form.serialnumbermodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.serialnumbermodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.serialnumbermodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.macaddress.css_classes}} {{form.macaddressmodifier.css_classes}}">
		<label>MAC-Address</label>
		<div class="row collapse">
		    <div class="small-8 columns">
		      {{form.macaddress}}
		    </div>
		    <div class="small-4 columns">
		      {{form.macaddressmodifier}}
		    </div>
		  </div>
		    {% if form.macaddress.errors %}<small style="padding-top:20px">MAC-Address: {% for error in form.macaddressmodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.macaddressmodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.macaddressmodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns {{form.ipaddress.css_classes}}">
		<label>IP-Address</label>
			{{form.ipaddress}}
			  {% if form.ipaddress.errors %}<small style="padding-top:20px">{% for error in form.ipaddress.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.devicetype.css_classes}}">
		<label>Devicetype</label>
			{{form.devicetype}}
			  {% if form.devicetype.errors %}<small style="padding-top:20px">{% for error in form.devicetype.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.manufacturer.css_classes}}">
			<label>Manufacturer</label>
			{{form.manufacturer}}
			  {% if form.manufacturer.errors %}<small style="padding-top:20px">{% for error in form.manufacturer.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.room.css_classes}}">
			<label>Room</label>
			{{form.room}}
			  {% if form.room.errors %}<small style="padding-top:20px">{% for error in form.room.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns {{form.overdue.css_classes}}">
			<label>Overdue</label>
			{{form.overdue}}
			  {% if form.overdue.errors %}<small style="padding-top:20px">{% for error in form.overdue.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.available.css_classes}} {{form.lender.css_classes}}">
			<label>Filter</label>
		      {{form.viewfilter}}
			  {% if form.viewfilter.errors %}<small style="padding-top:20px">{% for error in form.viewfilter.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns {{form.available.css_classes}} {{form.lender.css_classes}}">
			<label>Lender</label>
		      {{form.lender}}
			  {% if form.lender.errors %}<small style="padding-top:20px">{% for error in form.lender.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="small-3 columns right">
			<input type="submit" value="Search" class="button small" />
			<input type="button" onclick="clear_form_elements('#searchform')" class="button alert small right" value="Clear">
		</div>
	</div>
</form>