{% load i18n %}
<form method="post" id="searchform" class="form-inline" style="margin-bottom:20px">{% csrf_token %}
	<div class="row">
		<div class="col-xs-12 col-md-4 {{form.name.css_classes}}  {{form.namemodifier.css_classes}} form-group" style="margin-bottom:10px;">	
		<label>Name</label><br>
			<div class="form-group col-md-8" style="padding-left:0px">
     			      {{form.searchname}}
     			      	</div>
     			      	<div class="form-group col-md-4" style="padding:0px">
			      {{form.namemodifier}}
			  </div>
		    {% if form.name.errors %}<small style="padding-top:20px">Name: {% for error in form.name.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.namemodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.namemodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		<div class="col-xs-12 col-md-4 {{form.inventorynumber.css_classes}} {{form.inventorynumbermodifier.css_classes}} form-group"style="margin-bottom:10px;">
		<label>Inventorynumber</label><br>
			<div class="form-group col-md-8" style="padding-left:0px">
		      {{form.inventorynumber}}
     			      	</div>
     			      	<div class="form-group col-md-4" style="padding:0px">
		      {{form.inventorynumbermodifier}}
		  </div>
		  {% if form.bildnumber.errors %}<small style="padding-top:20px">Bildnumber: {% for error in form.bildnumber.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.bildnumbermodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.bildnumbermodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		<div class="col-xs-12 col-md-4 {{form.serialnumber.css_classes}} {{form.serialnumbermodifier.css_classes}} form-group"style="margin-bottom:10px;">
		<label>Serialumber</label><br>
			<div class="form-group col-md-8" style="padding-left:0px">
		      {{form.serialnumber}}
     			      	</div>
     			      	<div class="form-group col-md-4" style="padding:0px">
		      {{form.serialnumbermodifier}}
		  </div>
		    {% if form.serialnumber.errors %}<small style="padding-top:20px">Serialnumber: {% for error in form.serialnumbermodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.serialnumbermodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.serialnumbermodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		</div>
		<div class="row">

		<div class="col-xs-12 col-md-4 {{form.macaddress.css_classes}} {{form.macaddressmodifier.css_classes}} form-group"style="margin-bottom:10px;">
		<label>MAC-Address</label><br>
			<div class="form-group col-md-8" style="padding-left:0px">
		      {{form.macaddress}}
     			      	</div>
     			      	<div class="form-group col-md-4" style="padding:0px">
		      {{form.macaddressmodifier}}
		  </div>
		    {% if form.macaddress.errors %}<small style="padding-top:20px">MAC-Address: {% for error in form.macaddressmodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
{% if form.macaddressmodifier.errors %}<small style="padding-top:20px">Modifier: {% for error in form.macaddressmodifier.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		<div class="col-xs-12 col-md-4 {{form.ipaddress.css_classes}} form-group">
		<label>IP-Address</label>
			{{form.ipaddress}}
			  {% if form.ipaddress.errors %}<small style="padding-top:20px">{% for error in form.ipaddress.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		<div class="col-xs-12 col-md-4 {{form.devicetype.css_classes}} form-group">
		<label>Devicetype</label>
			{{form.devicetype}}
			  {% if form.devicetype.errors %}<small style="padding-top:20px">{% for error in form.devicetype.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		</div>
		<div class="row">
			
		<div class="col-xs-12 col-md-4 {{form.manufacturer.css_classes}} form-group">
			<label>Manufacturer</label>
			{{form.manufacturer}}
			  {% if form.manufacturer.errors %}<small style="padding-top:20px">{% for error in form.manufacturer.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		<div class="col-xs-12 col-md-4{{form.room.css_classes}} form-group">
			<label>Room</label>
			{{form.room}}
			  {% if form.room.errors %}<small style="padding-top:20px">{% for error in form.room.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		<div class="col-xs-12 col-md-4 {{form.devicegroup.css_classes}} form-group">
			<label>Devicegroup</label>
			{{form.devicegroup}}
			  {% if form.devicegroup.errors %}<small style="padding-top:20px">{% for error in form.devicegroup.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		</div>
		<div class="row">
			
		<div class="col-xs-12 col-md-4{{form.overdue.css_classes}} form-group">
			<label>Overdue</label>
			{{form.overdue}}
			  {% if form.overdue.errors %}<small style="padding-top:20px">{% for error in form.overdue.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>

		<div class="col-xs-12 col-md-4 {{form.available.css_classes}} {{form.lender.css_classes}} form-group">
			<label>Filter</label>
		      {{form.viewfilter}}
			  {% if form.viewfilter.errors %}<small style="padding-top:20px">{% for error in form.viewfilter.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		<div class="col-xs-12 col-md-4 {{form.available.css_classes}} {{form.lender.css_classes}} form-group">
			<label>Lender</label>
		      {{form.lender}}
			  {% if form.lender.errors %}<small style="padding-top:20px">{% for error in form.lender.errors %}{{ error|escape }} {% endfor %}</small>{% endif %}
		</div>
		
	</div>
	<div class="pull-right" style="margin-top:10px">
			<input type="submit" value="{% trans "Search" %}" class="btn btn-primary btn-sm" />
			<input type="button" onclick="clear_form_elements('#searchform')" class="btn btn-default btn-sm" value="{% trans "Clear" %}" />
	</div>
	<div class="clearfix"></div>
</form>
