{% load i18n %}
 $(document).ready(function() {

$("#id_devicetype").select2({
placeholder: "{% trans "Devicetype" %}"
});
$("#id_manufacturer").select2({
placeholder: "{% trans "Manufacturer" %}"
});
$("#id_room").select2({
placeholder: "{% trans "Room" %}"
});
$("#id_overdue").select2({
placeholder: "{% trans "Overdue" %}"
});
$("#id_viewfilter").select2({
placeholder: "{% trans "Filter" %}"
});

$("#id_devicegroup").select2({
placeholder: "{% trans "Devicegroup" %}"
});

});

function clear_form_elements(ele) {
    $(ele).find(':input').each(function() {
        switch(this.type) {
            case 'select-multiple':
                $(this).select2("val", "");
            case 'password':
            case 'select-one':
            case 'text':
            case 'textarea':
                console.log($(this).val())
                $(this).val('');
                break;
            case 'checkbox':
            case 'radio':
                this.checked = false;
        }
    });
}