{% load i18n staticfiles usertags %}<!DOCTYPE html>
<html lang="{{ user.language|default:"en" }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
        script-src 'self' 'unsafe-inline';
        style-src 'self' 'unsafe-inline' http://fonts.googleapis.com https://fonts.googleapis.com;
        connect-src 'self' https://localhost:41951 https://127.0.0.1:41951;
        font-src 'self' http://fonts.gstatic.com https://fonts.gstatic.com;
        img-src 'self' data:; ">
    <title>{% block title %}{% endblock %} &middot; {{ SITE_NAME }}</title>
    <link rel="stylesheet" href="{% static user|theme_path %}">
    <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "jquery-ui-dist/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "datatables/media/css/jquery.dataTables.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-formhelpers.css" %}">
    <link rel="stylesheet" href="{% static "css/clippy.css" %}">

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">

    {% block extracss %}{% endblock %}
</head>
<body>
{% if not nochrome %}
<header class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-archive"></i> {{ SITE_NAME }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav" role="navigation">
            <li class="dropdown">
                <a href="{% url 'device-list' %}" class="dropdown-toggle" data-toggle="dropdown">
                    {% trans "Devices" %} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% if perms.devices.read_device %}
                        <li><a href="{% url 'device-list' %}">{% trans "Devices" %}</a></li>
                    {% endif %}
                    {% if perms.devicetypes.read_type %}
                        <li><a href="{% url 'type-list' %}">{% trans "Devicetypes" %}</a></li>
                    {% endif %}
                    {% if perms.devices.read_manufacturer %}
                        <li><a href="{% url 'manufacturer-list' %}">{% trans "Manufacturers" %}</a></li>
                    {% endif %}
                    {% if perms.devicegroups.read_devicegroup %}
                        <li><a href="{% url 'devicegroup-list' %}">{% trans "Devicegroups" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'public-device-list' %}">{% trans "Public Devices" %}</a></li>
                </ul>
            </li>
            {% if perms.devices.read_room or perms.devices.read_building or perms.locations.read_section %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% trans "Locations" %} <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        {% if perms.devices.read_room %}
                            <li><a href="{% url 'room-list' %}">{% trans "Rooms" %}</a></li>
                        {% endif %}
                        {% if perms.devices.read_building %}
                            <li><a href="{% url 'building-list' %}">{% trans "Buildings" %}</a></li>
                        {% endif %}
                        {% if perms.locations.read_section %}
                            <li><a href="{% url 'section-list' %}">{% trans "Sections" %}</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if perms.mail.read_mailtemplate or perms.users.read_user or perms.network.read_ipaddress or perms.users.read_department or perms.devicetags.read_devicetags %}
                <li class="dropdown">
                    <a href="{% url 'device-list' %}" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Manage" %} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if perms.network.read_ipaddress %}
                            <li><a href="{% url 'ipaddress-list' %}">{% trans "IP-Addresses" %}</a></li>{% endif %}
                        {% if perms.mail.read_mailtemplate %}
                            <li><a href="{% url 'mail-list' %}">{% trans "Mailtemplates" %}</a></li>{% endif %}
                        {% if perms.users.read_user %}
                            <li><a href="{% url 'user-list' %}">{% trans "Users" %}</a></li>{% endif %}
                        {% if perms.users.read_department %}
                            <li><a href="{% url 'department-list' %}">{% trans "Departments" %}</a></li>{% endif %}
                        {% if perms.devicetags.read_devicetag %}
                            <li><a href="{% url 'devicetag-list' %}">{% trans "Devicetags" %}</a></li>{% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if perms.network.read_ipaddress and not perms.mail.read_mailtemplate and not users.read_user %}
                <li><a href="{% url 'ipaddress-list' %}">{% trans "IP-Addresses" %}</a></li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                {% if perms.devices.read_device %}
                    <li class="visible-lg visible-md">
                        <form method="post" action="{% url 'device-list' %}" class="navbar-form">{% csrf_token %}
                            <input id="id_namemodifier" name="namemodifier" type="hidden" value="icontains">
                            <div class="form-group">
                                <div class="input-group input-group-sm" style="width: 200px;">
                                    <input id="id_deviceid" name="deviceid" placeholder="{% trans 'Jump to ID' %}"
                                           type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <i class="fa fa-rocket"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="visible-lg visible-md">
                        <form method="get" action="{% url 'search' %}" class="navbar-form">
                            <div class="form-group">
                                <div class="input-group" style="width: 200px;">
                                    <input id="id_searchname" name="searchstring" placeholder="{% trans 'Search for device' %}"
                                           type="text" class="form-control input-sm">
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="visible-lg"><a href="{% url 'search' %}">{% trans "Advanced Search" %}</a></li>
                    <li class="visible-xs visible-sm visible-md"><a href="{% url 'search' %}">{% trans "Search" %}</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        {% if user.avatar %}
                            <img class="navbar-avatar img-rounded" src="{{ user.avatar.url }}">
                        {% endif %}
                        {{ user }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'userprofile' %}"><i class="fa fa-user"></i> {% trans "Profile" %}</a></li>
                        <li><a href="{% url 'usersettings' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}"><i class="fa fa-lock"></i> {% trans "Admin" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a></li>
                    </ul>
                </li>
            {% else %}
                <li id="loginbutton">
                    <a href="{% url 'login' %}" class="button button-success">
                        <i class="fa fa-sign-in"></i> {% trans "Login" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</header>
{% endif %}

<div class="container">
    <main>
        <header class="page-header row">
            <h1 style="font-size:1.9em">
                <ol class="breadcrumb" style="margin-bottom:0px;">
                    {% for crumb in breadcrumbs %}
                        {% if forloop.last %}
                            <li class="active">{{ crumb.1 }}</li>
                        {% else %}
                            <li><a href="{{ crumb.0 }}">{{ crumb.1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if not nochrome %}
                        <small class="pull-right">{% block  pullright %}{% endblock %}</small>
                    {% endif %}
                </ol>
            </h1>
        </header>

        <div class="row">
            <div class="col-md-12">{% block content %}{% endblock %}</div>
        </div>
    </main>

    <footer id="footer">
        <div class="pull-right">
            powered by <a href="https://github.com/MPIB/Lagerregal">Lagerregal</a>
        </div>
    </footer>
</div>

<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "select2/dist/js/select2.min.js" %}"></script>
<script src="{% static "django_select2/django_select2.js" %}"></script>
<script src="{% static "jquery-ui-dist/jquery-ui.min.js" %}"></script>
<script src="{% static "noty/js/noty/jquery.noty.js" %}"></script>

<script src="{% static "noty/js/noty/layouts/top.js" %}"></script>
<script src="{% static "noty/js/noty/layouts/topCenter.js" %}"></script>
<script src="{% static "noty/js/noty/layouts/topLeft.js" %}"></script>
<script src="{% static "noty/js/noty/layouts/topRight.js" %}"></script>
<!-- You can add more layouts if you want -->

<script src="{% static "noty/js/noty/themes/default.js" %}"></script>
<script src="{% static "js/bootstrap-formhelpers-datepicker.js" %}"></script>
<script src="{% static "js/bootstrap-formhelpers-datepicker.en_US.js" %}"></script>

<script src="{% static "timeago/jquery.timeago.js" %}"></script>
{% if user.language != "en" %}
    <script src="{% static "timeago/locales/jquery.timeago.de.js" %}"></script>
{% endif %}

<script src="{% static "js/spin.min.js" %}"></script>
<script src="{% static "js/clippy.min.js" %} "></script>

{% block htmlend %}{% endblock %}

<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static "js/lagerregal.js" %} "></script>

<script>
    {% block scriptend %}{% endblock %}

    {% if messages %}
        $(document).ready(function () {
            {% for message in messages %}
                noty({
                    text: '{{message|safe }}',
                    type: '{{message.tags}}',
                    layout: 'topCenter',
                    theme: 'defaultTheme',
                    timeout: 5000
                });
            {% endfor %}
        });
    {% endif %}
</script>
</body>

</html>
