{% load i18n staticfiles usertags %}<!DOCTYPE html>
<html lang="{{ user.language|default:"en" }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
        script-src 'self' 'unsafe-inline';
        style-src 'self' 'unsafe-inline' http://fonts.googleapis.com https://fonts.googleapis.com;
        connect-src 'self' https://localhost:41951 https://127.0.0.1:41951;
        font-src 'self' http://fonts.gstatic.com https://fonts.gstatic.com;
        img-src 'self' data:; ">
    <title>{% block title %}{% endblock %} &middot; {{ SITE_NAME }}</title>
    <link rel="stylesheet" href="{% static user|theme_path %}">
    <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "jquery-ui-dist/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-formhelpers.css" %}">
    <link rel="stylesheet" href="{% static "css/clippy.css" %}">

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">

    {% block extracss %}{% endblock %}
</head>
<body>
{% if not nochrome %}
<header class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top mb-3">
    <a class="navbar-brand" href="/"><i class="fa fa-archive"></i> {{ SITE_NAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
        <i class="navbar-toggler-icon"></i>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="{% url 'device-list' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    {% trans "Devices" %}
                </a>
                <div class="dropdown-menu">
                    {% if perms.devices.view_device %}
                        <a href="{% url 'device-list' %}" class="dropdown-item">{% trans "Devices" %}</a>
                    {% endif %}
                    {% if perms.devicetypes.view_type %}
                        <a href="{% url 'type-list' %}" class="dropdown-item">{% trans "Devicetypes" %}</a>
                    {% endif %}
                    {% if perms.devices.view_manufacturer %}
                        <a href="{% url 'manufacturer-list' %}" class="dropdown-item">{% trans "Manufacturers" %}</a>
                    {% endif %}
                    {% if perms.devicegroups.view_devicegroup %}
                        <a href="{% url 'devicegroup-list' %}" class="dropdown-item">{% trans "Devicegroups" %}</a>
                    {% endif %}
                    <a href="{% url 'public-device-list' %}" class="dropdown-item">{% trans "Public Devices" %}</a>
                </div>
            </li>
            {% if perms.devices.view_room or perms.devices.view_building or perms.locations.view_section %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% trans "Locations" %}</a>

                    <div class="dropdown-menu">
                        {% if perms.devices.view_room %}
                            <a href="{% url 'room-list' %}" class="dropdown-item">{% trans "Rooms" %}</a>
                        {% endif %}
                        {% if perms.devices.view_building %}
                            <a href="{% url 'building-list' %}" class="dropdown-item">{% trans "Buildings" %}</a>
                        {% endif %}
                        {% if perms.locations.view_section %}
                            <a href="{% url 'section-list' %}" class="dropdown-item">{% trans "Sections" %}</a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
            {% if perms.mail.view_mailtemplate or perms.users.view_lageruser or perms.network.view_ipaddress or perms.users.view_department or perms.devicetags.view_devicetags %}
                <li class="nav-item dropdown">
                    <a href="{% url 'device-list' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {% trans "Manage" %}
                    </a>
                    <div class="dropdown-menu">
                        {% if perms.network.view_ipaddress %}
                            <a href="{% url 'ipaddress-list' %}" class="dropdown-item">{% trans "IP-Addresses" %}</a>
                        {% endif %}
                        {% if perms.mail.view_mailtemplate %}
                            <a href="{% url 'mail-list' %}" class="dropdown-item">{% trans "Mailtemplates" %}</a>
                        {% endif %}
                        {% if perms.users.view_lageruser %}
                            <a href="{% url 'user-list' %}" class="dropdown-item">{% trans "Users" %}</a>
                        {% endif %}
                        {% if perms.users.view_department %}
                            <a href="{% url 'department-list' %}" class="dropdown-item">{% trans "Departments" %}</a>
                        {% endif %}
                        {% if perms.devicetags.view_devicetag %}
                            <a href="{% url 'devicetag-list' %}" class="dropdown-item">{% trans "Devicetags" %}</a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
            {% if perms.network.view_ipaddress and not perms.mail.view_mailtemplate and not users.view_lageruser %}
                <li><a href="{% url 'ipaddress-list' %}">{% trans "IP-Addresses" %}</a></li>
            {% endif %}
        </ul>

        {% if perms.devices.view_device %}
            <form method="post" action="{% url 'device-list' %}" class="form-inline my-2 my-lg-0 mx-lg-1">
                {% csrf_token %}
                <input id="id_namemodifier" name="namemodifier" type="hidden" value="icontains">
                <div class="form-group">
                    <div class="input-group">
                        <input id="id_deviceid" name="deviceid" placeholder="{% trans 'Jump to ID' %}" type="text" class="form-control form-control-sm">
                        <button type="submit" class="input-group-append btn btn-secondary btn-sm">
                            <i class="fa fa-rocket"></i>
                        </button>
                    </div>
                </div>
            </form>
            <form method="get" action="{% url 'search' %}" class="form-inline my-2 my-lg-0 mx-lg-1">
                <div class="form-group">
                    <div class="input-group">
                        <input id="id_searchname" name="searchstring" placeholder="{% trans 'Search for device' %}" type="text" class="form-control form-control-sm">
                        <button type="submit" class="input-group-append btn btn-secondary btn-sm">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}

        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                        {% if user.avatar %}
                            <img class="navbar-avatar rounded" src="{{ user.avatar.url }}">
                        {% endif %}
                        {{ user }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'userprofile' %}" class="dropdown-item"><i class="fa fa-user"></i> {% trans "Profile" %}</a>
                        <a href="{% url 'usersettings' %}" class="dropdown-item"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}" class="dropdown-item"><i class="fa fa-lock"></i> {% trans "Admin" %}</a>
                        {% endif %}
                        <a href="{% url 'logout' %}" class="dropdown-item"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a>
                    </div>
                </li>
            {% else %}
                <li id="loginbutton">
                    <a href="{% url 'login' %}" class="button button-success">
                        <i class="fa fa-sign-in"></i> {% trans "Login" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>
{% endif %}

<div class="container">
    <main>
        <header class="bg-light d-flex justify-content-between align-items-center p-3 mb-3 flex-md-row flex-column">
            <h1 class="h3 m-0 flex-shrink-0">
                <ol class="breadcrumb p-0 m-0">
                    {% for crumb in breadcrumbs %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active">{{ crumb.1 }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="{{ crumb.0 }}">{{ crumb.1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </h1>
            {% if not nochrome %}
                <div>{% block pullright %}{% endblock %}</div>
            {% endif %}
        </header>

        {% block content %}{% endblock %}
    </main>

    <footer id="footer" class="py-3 mt-5 mb-3 border-top text-right">
        {% trans "powered by" %} <a href="https://github.com/MPIB/Lagerregal">Lagerregal</a>
    </footer>
</div>

<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "select2/dist/js/select2.min.js" %}"></script>
<script src="{% static "django_select2/django_select2.js" %}"></script>
<script src="{% static "jquery-ui-dist/jquery-ui.min.js" %}"></script>
<script src="{% static "noty/js/noty/jquery.noty.js" %}"></script>

<script src="{% static "noty/js/noty/layouts/top.js" %}"></script>
<script src="{% static "noty/js/noty/layouts/topCenter.js" %}"></script>
<script src="{% static "noty/js/noty/layouts/topLeft.js" %}"></script>
<script src="{% static "noty/js/noty/layouts/topRight.js" %}"></script>
<!-- You can add more layouts if you want -->

<script src="{% static "noty/js/noty/themes/default.js" %}"></script>
<script src="{% static "js/bootstrap-formhelpers-datepicker.js" %}"></script>
<script src="{% static "js/bootstrap-formhelpers-datepicker.en_US.js" %}"></script>

<script src="{% static "datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>

<script src="{% static "timeago/jquery.timeago.js" %}"></script>
{% if user.language != "en" %}
    <script src="{% static "timeago/locales/jquery.timeago.de.js" %}"></script>
{% endif %}

<script src="{% static "js/spin.min.js" %}"></script>
<script src="{% static "js/clippy.min.js" %} "></script>

{% block htmlend %}{% endblock %}

<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static "js/lagerregal.js" %} "></script>

<script>
    {% block scriptend %}{% endblock %}

    {% if messages %}
        $(function () {
            {% for message in messages %}
                noty({
                    text: '{{message|safe }}',
                    type: '{{message.tags}}',
                    layout: 'topCenter',
                    theme: 'defaultTheme',
                    timeout: 5000
                });
            {% endfor %}
        });
    {% endif %}
</script>
</body>

</html>
