{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Main" %}{% endblock %}

{% block header %}
{% trans "Home" %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="small-6 columns dashboard">
{% include "snippets/widgets/statistics.html" %}

{% include "snippets/widgets/overdue.html" %}

{% include "snippets/widgets/newest-devices.html" %}
</div>

  <div class="small-6 columns dashboard">
{% include "snippets/widgets/edithistory.html" %}
</div>
</div>
{% endblock %}