{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block header %}
Home
{% endblock %}
{% block content %}
<div class="row">
  <div class="small-6 columns">
    <table width="100%" id="adresstable">
  <tbody>
    <tr>
      <td>Total devices</td>
      <td>{{device_all}}</td>
    </tr>
    <tr>
      <td>Available devices</td>
      <td>{{device_available}}</td>
    </tr>

    <tr>
      <td>Total IP addresses</td>
      <td>{{ipaddress_all}}</td>
    </tr>
    <tr>
      <td>Available IP addresses</td>
      <td>{{ipaddress_available}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
{% endblock %}