{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}
{% load staticfiles %}

{% block title %}{% trans "Main" %}{% endblock %}

{% block header %}
    {% trans "Home" %}
{% endblock %}

{% block pullright %}
    {% if user.is_staff and perms.devices.lend_device %}
        <a href="#" data-target="#returnModal" data-toggle="modal" class="btn btn-success btn-sm">
            <i class="fa fa-reply"></i> {% trans "Return Device" %}
        </a>
        <a href="#" data-target="#lendModal" data-toggle="modal" class="btn btn-success btn-sm">
            <i class="fa fa-share"></i> {% trans "Lend Device" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if user.is_staff %}
            <div class="col-md-5 dashboard dashboard-left">
                {% for widget in widgets_left %}
                    {% with "snippets/widgets/"|add:widget.widgetname|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="col-md-7 dashboard dashboard-right">
                {% for widget in widgets_right %}
                    {% with "snippets/widgets/"|add:widget.widgetname|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scriptend %}
    {% if user.is_staff %}
        $(function() {
            $( ".dashboard" ).sortable({
                connectWith: ".dashboard",
                placeholder: "alert alert-success dashboard-placeholder",
                distance: 15,
                update: function(event, ui) {
                    widgets = {};
                    $(".dashboard-left").children('.widget').each(function(i) {
                        widgets[$(this).attr("id")] = {"index": $(this).index()+1, "column": "l"};
                    });
                    $(".dashboard-right").children('.widget').each(function(i) {
                        widgets[$(this).attr("id")] = {"index": $(this).index()+1, "column": "r"};
                    });
                    $.ajax({
                        type: "POST",
                        url: "{% url "widget_move" %}",
                        data: {widgets:JSON.stringify(widgets)}
                    });
                }
            });

            $('body').on('click', '.card-title .w-minimize', function() {
                $.ajax({
                    type: "POST",
                    url: "{% url "widget_toggle" %}",
                    context: $(this).parents( ".widget:first" ),
                    data: {"widgetname":$( this ).parents( ".widget:first" ).attr("id")}
                }).done(function(data) {
                    $(this).find( ".w-minimize" ).toggleClass( "fa-minus" ).toggleClass( "fa-plus" );
                    $(this).find(".card-header").next().slideToggle("fast");
                });
            });

            $('body').on('click', '.card-title .w-close', function() {
                $.ajax({
                    type: "POST",
                    url: "{% url "widget_remove" %}",
                    context: $(this).parents( ".widget:first" ),
                    data: {"widgetname":$( this ).parents( ".widget:first" ).attr("id")}
                }).done(function(data) {
                    $(this).slideUp("fast", function() {
                    $(this).remove()});
                    $("#widgetlist").append('<li><a href="#" data-name="' + $(this).attr("id") + '" class="addWidget">' +
                        $(this).find(".card-title").html() + '</a></li>')
                });
            });

            $('body').on('click', '.addWidget', function() {
                $.ajax({
                    type: "POST",
                    context: $(this),
                    url: "{% url "widget_add" %}",
                    data: {"widgetname":$( this ).data("name")}
                }).done(function(data) {
                    $(this).remove();
                    $(".dashboard-left").append(data);
                    $('#addWidgetModal').modal('hide');
                });
            });

            $(".card-title .pull-right").hide();

            $('body').on({
                mouseenter: function () {
                    $(this).find(".pull-right").fadeIn();
                },
                mouseleave: function () {
                    $(this).find(".pull-right").fadeOut();
                }
            }, '.card-header');

            $( ".dashboard" ).disableSelection();
        });
    {% endif %}
{% endblock %}

{% block htmlend %}
    {% if user.is_staff %}
        <a data-toggle="modal" data-target="#addWidgetModal" id="addWidgetButton" href="#" class="btn btn-success">
            <i class="fa fa-plus"></i>
        </a>

        {% include "snippets/modals/addwidget.html" with modalname="addWidgetModal" %}
        {% if perms.devices.lend_device %}
            {% include "snippets/modals/lendingHome.html" with modalname="lendModal" %}
            {% include "snippets/modals/lendingReturnHome.html" with modalname="returnModal" %}
        {% endif %}
    {% endif %}
{% endblock %}
