{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
Login
{% endblock %}

{% block content %}
<div class="row">
	<div class="small-12 large-6 large-centered columns">
{% if form.errors %}
<div data-alert class="alert-box alert">
Your username and password didn't match. Please try again.
  <a href="#" class="close">&times;</a>
</div>
{% endif %}
<div class="panel">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<label>{{ form.username.label_tag }}</label>
{{ form.username }}
</label>{{ form.password.label_tag }}</label>
{{ form.password }}

<input type="submit" value="login" class="button" />
{% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
{% else %}
	<input type="hidden" name="next" value="{% url 'home' %}" />
{% endif %}
</form>
</div>
</div>
</div>
{% endblock %}