{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}
{% block title %}{% trans "Revision for" %} {{ device.name }}{% endblock %}

{% block header %}
    {% trans "Device" %}: <a href="{% url 'device-detail' current.pk %}">{{ current.name }}</a>
{% endblock %}

{% block pullright %}
    <form method="post">{% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm pull-right">
            <i class="fa fa-undo"></i> {% trans "Restore Revision" %}
        </button>
    </form>
{% endblock %}

{% block content %}
    <div class="small-6 large-8 columns">
        <h4>Revision: {{ version.revision.pk }} from {{ version.revision.date_created }}, by <a
                href="{% url 'userprofile' version.revision.user.pk %}">{{ version.revision.user }}</a>.</h4>
        <ul class="pager">
            {% if previous != None %}
                <li class="previous"><a href="{% url 'device-history' current.pk previous.revisionpk %}"><i
                    class="fa fa-angle-left"></i> {% trans 'previous revision' %}</a></li>{% endif %}
            {% if next != None %}
                <li class="next">
                <a href="{% url 'device-history' current.pk next.revisionpk %}">{% trans 'next revision' %} <i
                        class="fa fa-angle-right"></i></a></li>{% endif %}
        </ul>


        <table class="table table-bordered table-striped">
            <tbody>
            {% if previous != None %}
                <tr>
                    <th></th>
                    <th>{% trans "previous revision" %}</th>
                    <th>{% trans "this revision" %}</th>
                    <th>{% trans "current revision" %}</th>
                <tr>
                    <td>{% trans "Comment" %}</td>
                    <td>{{ previouscomment }}</td>
                    <td>{{ thiscomment }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{% trans "Name" %}</td>
                    <td>{{ previous.name }}</td>
                    <td>{% history_compare previous.name this_version.name %}</td>
                    <td>{% history_compare this_version.name current.name %}</td>
                </tr>
                <tr>
                    <td>{% trans "Inventorynumber" %}</td>
                    <td>{{ previous.inventorynumber }}</td>
                    <td>{% history_compare previous.inventorynumber this_version.inventorynumber %}</td>
                    <td>{% history_compare this_version.inventorynumber current.inventorynumber %}</td>
                </tr>
                <tr>
                    <td>{% trans "Serialnumber" %}</td>
                    <td>{{ previous.serialnumber }}</td>
                    <td>{% history_compare previous.serialnumber this_version.serialnumber %}</td>
                    <td>{% history_compare this_version.serialnumber current.serialnumber %}</td>
                </tr>
                <tr>
                    <td>{% trans "Hostname" %}</td>
                    <td>{{ previous.hostname }}</td>
                    <td>{% history_compare previous.hostname this_version.hostname %}</td>
                    <td>{% history_compare this_version.hostname current.hostname %}</td>
                </tr>
                <tr>
                    <td>{% trans "Webinterface" %}</td>
                    <td>{{ previous.webinterface }}</td>
                    <td>{% history_compare previous.webinterface this_version.webinterface %}</td>
                    <td>{% history_compare this_version.webinterface current.webinterface %}</td>
                </tr>
                <tr>
                    <td>{% trans "Devicetype" %}</td>
                    <td>{{ previous.devicetype }}</td>
                    <td>{% history_compare previous.devicetype this_version.devicetype %}</td>
                    <td>{% history_compare this_version.devicetype current.devicetype %}</td>
                </tr>
                <tr>
                    <td>{% trans "Manufacturer" %}</td>
                    <td>{{ previous.manufacturer }}</td>
                    <td>{% history_compare previous.manufacturer this_version.manufacturer %}</td>
                    <td>{% history_compare this_version.manufacturer current.manufacturer %}</td>
                </tr>
                <tr>
                    <td>{% trans "Room" %}</td>
                    <td>{{ previous.room }}</td>
                    <td>{% history_compare previous.room this_version.room %}</td>
                    <td>{% history_compare this_version.room current.room %}</td>
                </tr>
                <tr>
                    <td>{% trans "Description" %}</td>
                    <td>{{ previous.description }}</td>
                    <td>{% history_compare previous.description this_version.description %}</td>
                    <td>{% history_compare this_version.description current.description %}</td>
                </tr>

            {% else %}
                <tr>
                    <th></th>
                    <th>{% trans "this revision" %}</th>
                    <th>{% trans "current revision" %}</th>
                <tr>
                    <td>{% trans "Name" %}</td>
                    <td>{{ this_version.name }}</td>
                    <td>{% history_compare this_version.name current.name %}</td>
                </tr>
                <tr>
                    <td>{% trans "Inventorynumber" %}</td>
                    <td>{{ this_version.inventorynumber }}</td>
                    <td>{% history_compare this_version.inventorynumber current.inventorynumber %}</td>
                </tr>
                <tr>
                    <td>{% trans "Serialnumber" %}</td>
                    <td>{{ this_version.serialnumber }}</td>
                    <td>{% history_compare this_version.serialnumber current.serialnumber %}</td>
                </tr>
                <tr>
                    <td>{% trans "Hostname" %}</td>
                    <td>{{ this_version.hostname }}</td>
                    <td>{% history_compare this_version.hostname current.hostname %}</td>
                </tr>
                <tr>
                    <td>{% trans "Webinterface" %}</td>
                    <td>{{ this_version.webinterface }}</td>
                    <td>{% history_compare this_version.webinterface current.webinterface %}</td>
                </tr>
                <tr>
                    <td>{% trans "Devicetype" %}</td>
                    <td>{{ this_version.devicetype }}</td>
                    <td>{% history_compare this_version.devicetype current.devicetype %}</td>
                </tr>
                <tr>
                    <td>{% trans "Manufacturer" %}</td>
                    <td>{{ this_version.manufacturer }}</td>
                    <td>{% history_compare this_version.manufacturer current.manufacturer %}</td>
                </tr>
                <tr>
                    <td>{% trans "Room" %}</td>
                    <td>{{ this_version.room }}</td>
                    <td>{% history_compare this_version.room current.room %}</td>
                </tr>
                <tr>
                    <td>{% trans "Description" %}</td>
                    <td>{{ this_version.description }}</td>
                    <td>{% history_compare this_version.description current.description %}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}