{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}

{% block title %}{% trans "Assign IP-Address" %}{% endblock %}

{% block header %}
    {% trans "Assign IP-Addresses" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 well well-lg">
            <form method="post" class="form-horizontal">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group {{ field.css_classes }}">
                        <label class="col-lg-4 control-label">
                            {{ field.label }}{% if field.field.required %}*{% endif %}</label>

                        <div class="col-lg-8">
                            {{ field|add_class:'form-control' }}
                            <p class="help-block">{% if field.errors %}{% for error in field.errors %}{{ error }},
                            {% endfor %}{% endif %}</p>
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" value="{% trans "Submit" %}" class="btn btn-success pull-right"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block scriptend %}
    $("#id_ipaddresses").removeClass("form-control");
    $("#id_ipaddresses").select2();
{% endblock %}