{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}

{% block title %}{% trans "Assign IP-Address" %}{% endblock %}

{% block header %}
    {% trans "Assign IP-Addresses" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well well-lg">
            <form method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group row {{ field.css_classes }}">
                        <label class="col-lg-4 control-label">
                            {{ field.label }}{% if field.field.required %}*{% endif %}
                        </label>

                        <div class="col-lg-8">
                            {{ field|add_class:'form-control' }}
                            <p class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-right">
                    <input type="submit" value="{% trans "Submit" %}" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}