{% extends "base.html" %}
{%  load devicetags %}
{% block header %}
{% get_verbose_name object %}: {{object.name}}
{% endblock %}
{% block pullright %}
<a href="#" class="button alert right small"style="margin-left:10px">Delete</a>
<a href="{{object.get_edit_url}}" class="button success right small" >Edit</a>
{% endblock %}
{% block content %}
{% if device_list %}
<h4>Devices</h4>
    <table width="100%" id="devicetable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Buildnumber</th>
      <th>Devicetype</th>
      <th>Room</th>
    </tr>
  </thead>
  <tbody>
  	{% for device in device_list %}
    <tr>
      <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
      <td>{{ device.buildnumber }}</td>
      <td>{{ device.devicetype }}</td>
      <td>{{ device.room }} ({{device.room.building}})</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}