{% extends "base.html" %}

{% block title %}{{actionstring}} {% if object != None %}{{object}}{% else %}Object{% endif %}{% endblock %}

{% block header %}{{actionstring}} {% if object != None %}{{object}}{% else %}Object{% endif %}{% endblock %}
{% block content %}
<div class="row">
  <div class="small-8 center columns">
<form action="" method="post" class="form-horizontal">{% csrf_token %}
{{form}}
<input type="submit" value="Submit" class="button button-primary" />
</form>

</div>
</div>
{% endblock %}