{% extends "base.html" %}
{%  load devicetags %}

{% block title %}Delete {{object.name}}{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="small-8 center columns">
  <div class="alert-box alert">Do you really want to delete  the {% get_verbose_name object %}: {{object}}?</div>
<form action="" method="post" class="form-horizontal">{% csrf_token %}
<a href="{{object.get_absolute_url}}" class="button small" style="margin-right:10px;">No</a><input type="submit" value="Yes" class="button alert small" />
</form>

</div>
</div>
{% endblock %}