{% extends "base.html" %}
{%  load devicetags %}
{% load i18n %}

{% block title %}{{actionstring}} {% if object != None %}{{object}}{% else %}Object{% endif %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-{% if formhelp %}2{% else %}3{% endif %} well well-lg">
<form action="" method="post" class="form-horizontal">{% csrf_token %}
{% for field in form %}
<div class="form-group {{field.css_classes}}">
    <label for="{{field.html_name}}" class="col-lg-4 control-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
    <div class="col-lg-8">
      {{ field|add_class:'form-control'}}
      <p class="help-block">{% if field.errors %}{% for error in field.errors %}{{error}}, {% endfor %}{% endif %}</p>
    </div>
  </div>
{% endfor %}
<input type="submit" value="{% trans "Submit" %}" class="btn btn-success pull-right" />
</form>
</div>
{% if formhelp %}
<div class="col-xs-12 col-md-3 col-md-offset-1 well">
  <h3 style="margin-top:0px">{% trans "Help" %}</h3>
  {% include formhelp %}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scriptend %}
$( "input:text[name=name]" ).keyup(function() {
	if($(this).val().length > 1) {
		Dajaxice.devices.complete_names(Dajax.process,{'classtype':'{{type}}', 'name':$(this).val()})
	}
});

function display_alternatives(data){
	if ($("#alternatives").length == 0){
		$( "input:text[name=name]" ).after("\
<div class='alert-danger alert' id='alternativebox'>There seem to be objects with similar name. Do you maybe mean one of those?\
<ul id='alternatives' style='margin-top:10px;' class='list-unstyled'></ul>\
</div>")
	}
	$("#alternatives").empty()
	for (var i=0; i < data.length; i++) {
		$("#alternatives").append(data[i])
	};
}

  $(function() {
    $( "#id_duedate" ).datepicker();
  });
{% autoescape off %}{{ form_scripts }}{% endautoescape %}
{% endblock %}