{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-{% if formhelp %}1{% else %}3{% endif %} well well-lg">
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form action="" method="post" enctype="{{ enctype|default:"application/x-www-form-urlencoded" }}">{% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group row {{ field.css_classes }}">
                        <label for="{{ field.html_name }}" class="col-lg-3 control-label">
                            {{ field.label }}{% if field.field.required %}*{% endif %}
                        </label>

                        <div class="col-lg-9">
                            {% if field|is_select or field|is_selectmultiple %}
                                {{ field }}
                            {% else %}
                                {{ field|add_class:'form-control' }}
                            {% endif %}
                            <p class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</p>
                        </div>
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                     <div>{{ field }}</div>
                {% endfor %}
                <div class="text-right">
                    <input type="submit" value="{% trans "Submit" %}" class="btn btn-success"/>
                </div>
            </form>
        </div>
        {% if formhelp %}
            <div class="col-md-4 col-md-offset-1 well">
                <h3>{% trans "Help" %}</h3>
                {% include formhelp %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scriptend %}
    $("input:text[name=name]").keyup(function() {
        if ($(this).val().length > 1) {
            $.ajax({
                url: "{% url "autocomplete-name" %}",
                data: {'classtype':'{{ type }}', 'name':$(this).val()},
            }).done(function(data){
                if (data != "") {
                    if ($("#alternatives").length === 0) {
                        $( "input:text[name=name]" ).after("<div class='alert-danger alert' id='alternativebox'>There seem to be objects with similar name. Do you maybe mean one of those?<ul id='alternatives' class='list-unstyled'></ul></div>");
                    }
                    $("#alternatives").empty();
                    for (var i=0; i < data.length; i++) {
                        $("#alternatives").append(data[i]);
                    }
                } else {
                    $("#alternativebox").remove();
                }
            });
        }
    });

    $("input:text[name=smalldevice]").autocomplete({
        minLength: 2,
        source: function(request, response) {
            var term = request.term;
            $.ajax({
                url: "{% url "autocomplete-smalldevice" %}",
                data: {'name':term},
            }).done(response);
        }
    });
    {% autoescape off %}{{ form_scripts }}{% endautoescape %}
{% endblock %}
