{% extends "base.html" %}
{% load i18n %}
{% block title %}{{building.name}}{% endblock %}

{% block header %}
{% trans "Building" %}: {{building.name}}
{% endblock %}

{% block pullright %}
<a href="{% url 'building-delete' building.id %}" class="button alert right small"style="margin-left:10px">{% trans "Delete" %}</a>
<a href="{% url 'building-edit' building.id %}" class="button success small right">{% trans "Edit" %}</a>
<a href="#" class="button right small dropdown" data-dropdown="mergedropdown">{% trans "Merge" %}</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-6 large-8 columns">
    <table>
      <tbody>
        <tr><td>{% trans "Street" %}</td><td>{{building.street}} {{building.number}}</td></tr>
        <tr><td>{% trans "ZIP Code" %}</td><td>{{building.zipcode}}</td></tr>
        <tr><td>{% trans "City" %}</td><td>{{building.city}}</td></tr>
        <tr><td>{% trans "State" %}</td><td>{{building.state}}</td></tr>
        <tr><td>{% trans "Country" %}</td><td>{{building.country}}</td></tr>
      </tbody>
    </table>
  </div>
</div>

{% if device_list %}
<h4>{% trans "Devices" %}</h4>
    <table width="100%" id="devicetable">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Bildnumber" %}</th>
      <th>{% trans "Devicetype" %}</th>
      <th>{% trans "Room" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for device in device_list %}
    <tr>
      <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
      <td>{{ device.bildnumber }}</td>
      <td>{{ device.devicetype }}</td>
      <td>{{ device.room }}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

{% block htmlend%}
<ul id="mergedropdown" class="f-dropdown">
{% for merge in merge_list %}
  <li><a href="{% url 'building-merge' building.pk merge.pk %}">{{ merge.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}