{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Buildings" %}{% endblock %}

{% block header %}
{% trans "Buildings" %}
{% endblock %}

{% block pullright %}
<a href="{% url 'building-add' %}" class="button success small right">{% trans "Add Building" %}</a>
{% endblock %}

{% block content %}
{% include "snippets/pagination.html" with listurl='building-list' %}
<ul>
  {% for building in building_list %}
  <li><a href="{% url 'building-detail' building.id %}">{{building.name}}</a></li>
  {% endfor %}
</ul>
{% include "snippets/pagination.html" with listurl='building-list' %}
{% endblock %}

{% block scriptend %}
{% endblock %}