{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Devices" %}{% endblock %}

{% block header %}
{% trans "Devices" %}
{% endblock %}

{% block pullright %}
{{viewform.viewfilter}}
{% if perms.devices.create_device %}
<div class="btn-group">
<a href="{% url 'device-add' %}" class="btn btn-success btn-sm"><i class="icon-plus" style="margin-right:7px"></i>{% trans "Add Device" %}</a>
  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="dropdown-header">{% trans "From Template" %}</li>
    <li><a href="{% url 'template-list' %}" class="right" style="margin-bottom:10px">{% trans "Edit Templates" %}</a></li>
      {% if template_list %}<li class="divider"></li>
      {% for template in template_list %}
      <li><a href="{% url 'device-add' template.pk %}">{{template.templatename}}</a></li>
      {% endfor %}
      {% endif %}
      <li class="divider"></li>
      {% if perms.devices.create_template %}<li><a href="{% url 'template-add' %}">{% trans "New Template" %}</a></li>{% endif %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% include "snippets/devicepagination.html" %}
    <table width="100%" id="devicetable" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Bildnumber" %}</th>
      <th>{% trans "Devicetype" %}</th>
      <th>{% trans "Room" %}</th>
    </tr>
  </thead>
  <tbody>
  	{% for device in device_list %}
    <tr>
      <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
      <td>{{ device.bildnumber }}</td>
      <td>{{ device.devicetype }}</td>
      <td>{{ device.room }} ({{device.room.building}})</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% include "snippets/devicepagination.html" %}



{% endblock %}

{% block scriptend %}
$(document).ready(function() {
    $('#devicetable tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });
$('#id_viewfilter').change(function() {
    window.location = "/devices/filter/" + $(this).val()
});
});
{% endblock %}

{% block htmlend %}
{% endblock %}