{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Devices" %}{% endblock %}

{% block header %}
    {% trans "Devices" %}
{% endblock %}

{% block pullright %}
    {{ viewform.viewsorting }}
    {{ viewform.viewfilter }}
    {{ viewform.departmentfilter }}
    {% if perms.devices.add_device %}
        <div class="btn-group">
            <a href="{% url 'device-add' %}" class="btn btn-success btn-sm"><i class="fa fa-plus"
                                                                               style="margin-right:7px"></i>{% trans "Add Device" %}
            </a>
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">{% trans "From Template" %}</li>
                <li><a href="{% url 'template-list' %}" class="right"
                       style="margin-bottom:10px">{% trans "Edit Templates" %}</a></li>
                {% if template_list %}
                    <li class="divider"></li>
                    {% for template in template_list %}
                        <li><a href="{% url 'device-add' template.pk %}">{{ template.templatename }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="divider"></li>
                {% if perms.devices.create_template %}
                    <li><a href="{% url 'template-add' %}">{% trans "New Template" %}</a></li>{% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "snippets/devicepagination.html" %}
    <table width="100%" id="devicetable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Inventorynumber" %}</th>
            <th>{% trans "Devicetype" %}</th>
            <th>{% trans "Room" %}</th>
            <th>{% trans "Devicegroup" %}</th>
            {% if viewfilter == "lent" or viewfilter == "overdue" %}
                <th>{% trans "Owner" %}</th>
                <th>{% trans "Duedate" %}</th>
            {% else %}
                <th style="width:60px">{% trans "Available" %}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if viewfilter == "lent" or viewfilter == "overdue" or viewfilter == "returnsoon" %}
            {% for lending in device_list %}
            <tr {% if lending.duedate < today.date %}class="text-danger"{% endif %}>
                    {% if lending.smalldevice %}
                        <td><a href="{% url "userprofile" lending.owner__id %}#devices">
                            {{ lending.smalldevice }}
                        </a></td>
                    {% else %}
                        <td><a href="{% url 'device-detail' lending.device__id %}">
                            {{ lending.device__name | default:"(None)" }}
                        </a></td>
                    {% endif %}
                    <td>{{ lending.device__inventorynumber }}</td>
                    <td>{{ lending.device__devicetype__name }}</td>
                    <td>{{ lending.device__room__name }} ({{ lending.device__room__building__name }})</td>
                    <td>{{ lending.device__group__name }}</td>
                    <td>
                    {% if lending.owner__id %}
                            <a href="{% url "userprofile" lending.owner__id %}#devices">{{ lending.owner__username }}</a>
                        {% else %}
                            {{ lending.owner__username }}
                        {% endif %}
                    </td>
                    <td>{{ lending.duedate }}</td>
            {% endfor %}
        {% else %}
            {% for device in device_list %}
                <tr {% if device.currentlending__duedate < today.date %}class="text-danger"{% endif %}>
                    <td><a href="{% url 'device-detail' device.id %}">{{ device.name | default:"(None)" }}</a></td>
                    <td>{{ device.inventorynumber }}</td>
                    <td>{{ device.devicetype__name }}</td>
                    <td>{{ device.room__name }} ({{ device.room__building__name }})</td>
                    <td>{{ device.group__name }}</td>
                    <td>{% if device.currentlending__owner__username == None %}
                            <i class="fa fa-check-circle text-success" style="font-size:1.3em"></i>
                         {% else %}<i class="fa fa-exclamation-circle text-danger"
                                      style="font-size:1.3em"></i>{% endif %}</td>

                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% include "snippets/devicepagination.html" %}



{% endblock %}

{% block scriptend %}
    $(document).ready(function() {
    $('#devicetable tr').click(function() {
    var href = $(this).find("a").attr("href");
    if(href) {
    window.location = href;
    }
    });
    $('#id_viewfilter').change(function() {
    if ($("#id_departmentfilter").val() == "") {
        department = "all"
    } else {
        department = $("#id_departmentfilter").val()
    }
    window.location = "/devices/department/" + department + "/sorting/" + $("#id_viewsorting").val() + "/filter/" + $(this).val()
    });

    $('#id_viewsorting').change(function() {
    if ($("#id_departmentfilter").val() == "") {
        department = "all"
    } else {
        department = $("#id_departmentfilter").val()
    }
    window.location = "/devices/department/" + department + "/sorting/" + $(this).val() + "/filter/" + $("#id_viewfilter").val()
    });

    $('#id_departmentfilter').change(function() {
    if ($("#id_departmentfilter").val() == "") {
        department = "all"
    } else {
        department = $("#id_departmentfilter").val()
    }
    window.location = "/devices/department/" + department + "/sorting/" + $("#id_viewsorting").val() + "/filter/" + $("#id_viewfilter").val()
    });

    });

    {% include "snippets/devicepagination_js.html" with pageurl="device-list" %}
{% endblock %}