{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Revision for" %} {{device.name}}{% endblock %}

{% block header %}
{% trans "Device" %}: <a href="{% url 'device-detail' device.pk %}">{{device.name}}</a>
{% endblock %}

{% block pullright %}
<form method="post">{% csrf_token %}
    <input type="submit" class ="button small right" value="{% trans "Restore Revision" %}">
</form>
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-6 large-8 columns">
    <h4>Revision: {{version.pk}} from {{version.revision.date_created}}, by <a href="{% url 'userprofile' version.revision.user.pk %}">{{version.revision.user}}</a>.</h4>
    <table>
      <tbody>
        <tr><td>{% trans "Name" %}</td><td>{{device.name}}</td></tr>
        <tr><td>{% trans "Bildnumber" %}</td><td>{{device.bildnumber}}</td></tr>
        <tr><td>{% trans "Serialnumber" %}</td><td>{{device.serialnumber}}</td></tr>
        <tr><td>{% trans "MAC-Address" %}</td><td>{{device.macaddress}}</td></tr>
        <tr><td>{% trans "Devicetype" %}</td><td>{{device.devicetype}}</td></tr>
        <tr><td>{% trans "Manufacturer" %}</td><td>{{device.manufacturer}}</td></tr>
        <tr><td>{% trans "Room" %}</td><td>{{device.room}}</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}