{% extends "base.html" %}

{% block title %}{{actionstring}} {% if object != None %}{{object}}{% else %}Object{% endif %}{% endblock %}

{% block header %}{{actionstring}} {% if object != None %}{{object}}{% else %}Object{% endif %}{% endblock %}
{% block content %}
<div class="row">
  <div class="small-12 large-6 large-centered columns panel">
<form action="" method="post" class="form-horizontal">{% csrf_token %}
{% for field in form %}
<div class="row {{field.css_classes}}">
        <div class="small-3 columns">
          {{field.required}}
          <label for="right-label" class="right inline"{% if field.field.required %}style="font-weight:bold"{% endif %}>{{ field.label }}</label>
        </div>
        <div class="small-9 columns">
         {{ field }}
{% if field.errors %}<small style="padding-top:20px">{% for error in field.errors %}{{error}}, {% endfor %}</small>{% endif %}
        </div>
      </div>

{% endfor %}
<input type="submit" value="Submit" class="button button-primary" />
</form>

</div>
</div>
{% endblock %}

{% block scriptend %}
$( "input:text[name=name]" ).autocomplete({
      minLength: 2,
      source: function( request, response ) {
        var term = request.term;
        Dajaxice.devices.complete_devicenames(response, {'name':term});
      }
    });
{% if object != None %}$('#id_emailbosses').parent().parent().hide();
$('#id_emailmanagment').parent().parent().hide();
{% endif %}
{% endblock %}