{% extends "base.html" %}
{% load i18n %}

{% block title %}Revision for {{device.name}}{% endblock %}

{% block header %}
Device: {{device.name}}
{% endblock %}

{% block pullright %}
<form method="post">{% csrf_token %}
    <input type="submit" class ="button small right" value="Restore Revision">
</form>
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-6 large-8 columns">
    <h4>Revision: {{version.pk}} from {{version.revision.date_created}}{% if version.revision.user %}, by {{version.revision.user.username}}{% endif %}</h4>
    <table>
      <tbody>
        <tr><td>Buildnumber</td><td>{{device.buildnumber}}</td></tr>
        <tr><td>Devicetype</td><td>{{device.devicetype}}</td></tr>
        <tr><td>Manufacturer</td><td>{{device.manufacturer}}</td></tr>
        <tr><td>Room</td><td>{{device.room}}</td></tr>
        <tr><td>Owner</td><td>{{device.owner}}</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}