{% extends "base.html" %}
{% load i18n %}
{% block header %}
Device: {{device.name}}
{% endblock %}

{% block pullright %}
<a href="{% url 'device-delete' device.id %}" class="button alert right small"style="margin-left:10px">Delete</a>
<a href="{% url 'device-edit' device.id %}" class="button success small right">Edit</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-6 large-8 columns">
    <table>
      <tbody>
        <tr><td>Buildnumber</td><td>{{device.buildnumber}}</td></tr>
        <tr><td>Devicetype</td><td>{{device.devicetype}}</td></tr>
        <tr><td>Manufacturer</td><td>{{device.manufacturer}}</td></tr>
        <tr><td>Room</td><td>{{device.room}}</td></tr>
        <tr><td>Owner</td><td>{{device.owner}}</td></tr>
      </tbody>
    </table>
    <a href="{% url 'device-history-list' device.pk %}">View history</a>
  </div>
  <div class="small-6 large-4 columns">
    <ul class="pricing-table">
      <li class="title">IP addresses</li>
      {% for address in ipaddress_list %}
        <li class="bullet-item">{{address.address}} <a href="{% url 'device-ipaddress-remove' device.pk address.pk %}">x</a></li>
      {% endfor %}
      <li class="cta-button"><form method="post" action="{% url 'device-ipaddress' device.pk %}" style="margin:0px;">{% csrf_token %}
        <div class="row">
      <div class="large-12 columns">
        {{ipaddressform.ipaddresses}}
      </div>
    </div>
        <div class="row"  style="margin-top:10px;">
      <div class="large-12 columns">
        
        <input type="submit" class ="button small right" value="Assign Addresses">
      </div>
    </div>
    <input type="hidden" name="device" value="{{ device.pk }}" />
      </form></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block scriptend %}
$("#id_ipaddresses").select2({
    tokenSeparators: [",", " "]});
{% endblock %}