{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% load staticfiles %}
{% load permissionif %}

{% block title %}{{ device.name }}{% endblock %}

{% block header %}
    {% trans "Device" %}: {{ device.name }}
{% endblock %}

{% block pullright %}
    {% if device.archived == None and device.trashed == None %}
        <div class="btn-group pull-right" style="margin-left:10px">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                {% trans "Manage" %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% if display_printbutton %}
                    <li><a href="#" data-target="#printDymoModal" data-toggle="modal"><i class="fa fa-print"
                                                                                         style="margin-right:7px"></i>{% trans "Print Label" %}
                    </a></li>
                {% endif %}
                    <li><a href="#" data-target="#pictureModal" data-toggle="modal"><i class="fa fa-picture-o"
                                                                                         style="margin-right:7px"></i>{% trans "Manage Pictures" %}
                    </a></li>
                {% permission user has 'devices.change_device' of device %}
                    <li><a href="{% url "device-inventoried" device.id %}"><i class="fa fa-check"
                                                                              style="margin-right:7px"></i>{% trans "Inventoried" %}
                </a></li>{% endpermission %}
                {% permission user has 'devices.add_device' of device %}
                    <li><a href="{% url 'device-add-copy' device.id %}"><i class="fa fa-copy"
                                                                           style="margin-right:7px"></i>{% trans "Create Copy" %}
                </a></li>{% endpermission %}
                {% permission user has 'devices.change_device' of device or user has 'devices.delete_device' of device %}
                    <li class="divider"></li>{% endpermission %}
                {% permission user has 'devices.change_device' of device %}
                    <li><a href="#" id="storagebutton" data-toggle="popover" class="dropdown-cancel"><i
                            class="fa fa-folder" style="margin-right:7px"></i>{% trans "Move to storage" %}</a></li>
                    <li><a href="#" id="archivebutton" data-toggle="popover" class="dropdown-cancel"><i
                            class="fa fa-folder" style="margin-right:7px"></i>{% trans "Archive" %}</a></li>
                    <li><a href="#" id="trashbutton" data-toggle="popover" class="dropdown-cancel"><i
                            class="fa fa-trash-o" style="margin-right:7px"></i>{% trans "Trash" %}</a></li>
                {% endpermission %}
                {% permission user has 'devices.change_device' of device %}
                    <li>
                    <a href="#" id="deletebutton" data-toggle="popover" class="dropdown-cancel"><i class="fa fa-times"
                                                                                                   style="margin-right:7px"></i>{% trans "Delete" %}
                    </a></li>{% endpermission %}
            </ul>
        </div>


        {% permission user has 'devices.change_device' of device %}
            <form action='{% url "device-bookmark" object.id %}' method='post'
                  class='form-inline pull-right'>{% csrf_token %}
                {% with is_bookmarked=device|check_bookmark:user %}
                    {% if is_bookmarked %}
                        <button type='submit' class='btn btn-success btn-sm' style='margin-left:10px;'><i
                                class="fa fa-bookmark" style="margin-right:7px"></i>{% trans "Remove Bookmark" %}
                        </button>
                    {% else %}
                        <button type='submit' class='btn btn-success btn-sm' style='margin-left:10px;'><i
                                class="fa fa-bookmark-o" style="margin-right:7px"></i>{% trans "Bookmark" %}</button>
                    {% endif %}
                {% endwith %}
            </form>
            <a href="{% url 'device-edit' device.id %}" class="btn btn-primary pull-right btn-sm"
               style="margin-left:10px"><i class="fa fa-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>
        {% endpermission %}
        {% permission user has 'devices.lend_device' of device %}
            <a href="#" class="btn btn-primary pull-right btn-sm" style="margin-left:10px" data-target="#mailModal"
               data-toggle="modal"><i class="fa fa-envelope" style="margin-right:7px"></i>{% trans "Send Mail" %}</a>
        {% endpermission %}

        {% permission user has 'devices.lend_device' of device %}
            {% if device.currentlending != None %}
                <a href="#" data-target="#returnModal" data-toggle="modal" class="btn btn-success pull-right btn-sm"
                   style="margin-left:10px"><i class="fa fa-check" style="margin-right:7px"></i>{% trans "returned" %}
                </a>
            {% else %}
                <a href="#" data-target="#lendModal" data-toggle="modal" class="btn btn-success pull-right btn-sm"
                   style="margin-left:10px"><i class="fa fa-check" style="margin-right:7px"></i>{% trans "Lend" %}</a>
            {% endif %}
        {% endpermission %}
    {% else %}


        {% permission user has 'devices.change_device' of device and device.archived != None %}
            <a href="#" id="archivebutton" data-toggle="popover" class="btn btn-success pull-right btn-sm"
               style="margin-left:10px"><i class="fa fa-folder-open"
                                           style="margin-right:7px"></i>{% trans "Unarchive" %}</a>{% endpermission %}

        {% permission user has 'devices.change_device' of device and device.trashed != None %}
            <a href="#" id="trashbutton" data-toggle="popover" class="btn btn-success pull-right btn-sm"
               style="margin-left:10px"><i class="fa fa-folder-open"
                                           style="margin-right:7px"></i>{% trans "Remove from Trash" %}</a>{% endpermission %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <table class="table table-bordered table-striped">
                <tbody>
                {% if not device.no_inventory_number_required%}
                <tr>
                    <td>{% trans "Inventorynumber" %}</td>
                    <td>{{ device.inventorynumber }}</td>
                </tr>
                {%endif%}
                <tr>
                    <td>{% trans "Serialnumber" %}</td>
                    <td>{{ device.serialnumber }}</td>
                </tr>
                <tr>
                    <td>{% trans "Hostname" %}</td>
                    <td>{{ device.hostname }}</td>
                </tr>
                <tr>
                    <td>{% trans "Devicetype" %}</td>
                    <td>{% if device.devicetype %}<a href="{% url 'type-detail' device.devicetype.pk %}">
                        {{ device.devicetype }}</a>{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <td>{% trans "Manufacturer" %}</td>
                    <td>{% if device.manufacturer %}<a href="{% url 'manufacturer-detail' device.manufacturer.pk %}">
                        {{ device.manufacturer }}</a>{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <td>{% trans "Room" %}</td>
                    <td>{% if device.room %}<a href="{% url 'room-detail' device.room.pk %}">{{ device.room }}
                        </a>{% else %}-{% endif %}</td>
                </tr>
                {%if device.used_in%}
                <tr>
                    <td>{% trans "Used in" %}</td>
                    <td><a href="{% url "device-detail" device.used_in.pk%}">{{device.used_in}}</a></td>
                </tr>
                {% endif %}
                {% if usedset %}
                <tr>
                    <td>{% trans "Uses" %}</td>
                    <td>{% for element in usedset%}<a href="{% url "device-detail" element.pk%}">
                        {{element}}</a> <br/>{%endfor%}</td>
                </tr>
                {% endif %}
                {% for attributevalue in attributevalue_list %}
                    <tr>
                        <td>{{ attributevalue.typeattribute.name }}</td>
                        <td>{{ attributevalue }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>{% trans "Devicegroup" %}</td>
                    <td>{% if device.group %}<a href="{% url 'devicegroup-detail' device.group.pk %}">{{ device.group }}
                        </a>{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <td>{% trans "Department" %}</td>
                    <td>{% if device.department %}{{ device.department }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <td>{% trans "Short term device" %}</td>
                    <td>{% if device.templending %}<i class="fa fa-check-circle text-success" style="font-size:1.3em">
                        </i>{% else %}<i class="fa fa-times-circle text-danger" style="font-size:1.3em"></i>{% endif %}
                    </td>
                </tr>
                {% if device.manual %}
                    <tr>
                    <td>{% trans "Manual" %}</td>
                    <td><a href="{{ device.manual.url }}">{{ device.manual|filename }}</a></td></tr>
                {% endif %}
                {% if device.contact %}
                    <tr>
                    <td>{% trans "Contact" %}</td>
                    <td><a href="{% url 'userprofile' device.contact.pk %}">{{ device.contact }}</a></td>
                {% endif %}
                <tr>
                    <td>{% trans "Created by" %}</td>
                    <td><a href="{% url 'userprofile' device.creator.pk %}">{{ device.creator }}</a></td>
                </tr>
                <tr>
                    <td>{% trans "Last edited" %}</td>
                    <td>{% if lastedit != None %}<a href="{% url 'history-detail' lastedit.pk %}">
                        {{ lastedit.revision.date_created }}</a> by {{ lastedit.revision.user }}{% else %}
                        {% trans "Not edited yet" %}{% endif %}</td>
                </tr>
                {% if device.trashed %}
                    <tr>
                    <td>{% trans "Trashed on" %}</td>
                    <td>{{ device.trashed }}</td></tr>{% endif %}
                {% if device.inventoried %}
                    <tr>
                    <td>{% trans "Last inventoried on" %}</td>
                    <td>{{ device.inventoried }}</td></tr>{% endif %}
                </tbody>
            </table>

            {% if device.webinterface != "" %}<a href="{{ device.webinterface }}" target="_blank">
                {% trans "Go to webinterface" %}</a>{% endif %}

            {% if device.description %}
                <h4>{% trans "Description" %}</h4>
                {{ device.description|linebreaks }}
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-5">
            {% if device.pictures.count > 0 %}
                    <div id="device-carousel" class="carousel slide" data-ride="carousel" data-interval=false>
                      <ol class="carousel-indicators">
                        {% for picture in device.pictures.all %}
                        <li data-target="#device-carousel" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
                        {% endfor %}
                      </ol>

                  <div class="carousel-inner" role="listbox">
                {% for picture in device.pictures.all %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                      <img src="{{ picture.image.url }}" alt="{{ picture.caption }}">
                      <div class="carousel-caption">
                        {{ picture.caption }}
                      </div>
                    </div>

                {% endfor %}
                  </div>

                  <a class="left carousel-control" href="#device-carousel" role="button" data-slide="prev">
                    <span class="icon-prev fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#device-carousel" role="button" data-slide="next">
                    <span class="icon-next fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            {% endif %}
            <h4>{% trans "Current Lending information" %}</h4>
            {% if device.currentlending != None %}
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <td>{% trans "Lent to" %}</td>
                        <td>
                            <a href="{% url "userprofile" device.currentlending.owner.pk %} ">{{ device.currentlending.owner }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Since" %}</td>
                        <td>{{ device.currentlending.lenddate }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Due to" %}</td>
                        <td>{{ device.currentlending.duedate }}
                            {% if device.currentlending.duedate < weekago %}<span class="error-icon">
                                <i class="fa fa-exclamation-circle"></i></span>
                                {% elif device.currentlending.duedate < today %}<span class="warning-icon"><i
                                        class="fa fa-exclamation-circle"></i></span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Overdue notification" %}</td>
                        <td>{{ device.currentlending.duedate_email|default_if_none:"Not sent" }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <p>{% trans "Currently not lent" %}</p>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{% trans "IP-Addresses" %}</div>
                <ul class="list-group">
                    {% for address in device.ipaddress_set.all %}
                        <li class="list-group-item ipaddress-list">
                            <a href="{% url "ipaddress-detail" address.pk %}">{{ address.address }}</a> <a
                                href="{% url 'device-ipaddress-remove' device.pk address.pk %}"
                                class="close delete right"><i class="fa fa-times"></i></a> <a
                                href="{% url 'device-ipaddress-purpose' device.pk address.pk %}"
                                class="close delete right" style="margin-right:5px"><i class="fa fa-pencil"></i></a>
                            <br/>
                            <small style="margin-top:0;color:#999">{{ address.purpose|default:"" }}</small>
                        </li>
                    {% endfor %}
                </ul>

                {% permission user has 'devices.change_device' of device and device.archived == None%}
                    <div class="panel-footer">
                        <form method="post" action="{% url 'device-ipaddress' device.pk %}"
                              style="margin:0;">{% csrf_token %}
                            {{ ipaddressform.ipaddresses }}
                            <div class="row" style="margin-top:10px; margin-left:0; margin-right:0;">
                                <button type="submit" class="btn btn-success btn-sm pull-right disabled"
                                        id="submitipaddress"><i class="fa fa-plus"></i> {% trans "Assign Addresses" %}
                                </button>
                            </div>
                            <input type="hidden" name="device" value="{{ device.pk }}"/>
                        </form>
                    </div>
                {% endpermission %}
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">{% trans "Tags" %}</div>
                <ul class="list-group">
                    {% for tag in device.tags.all %}
                        <li class="list-group-item tag-list">{{ tag.name }} <a
                                href="{% url 'device-tag-remove' device.pk tag.pk %}" class="close delete right"><i
                                class="fa fa-times"></i></a></li>
                    {% endfor %}
                </ul>

                <div class="panel-footer">
                    <form method="post" action="{% url 'device-tags' device.pk %}" style="margin:0;">{% csrf_token %}
                        {{ tagform.tags }}
                        <div class="row" style="margin-top:10px; margin-left:0; margin-right:0;">
                            <button type="submit" class="btn btn-success btn-sm pull-right disabled" id="submittags"><i
                                    class="fa fa-plus"></i> {% trans "Assign Tags" %}</button>
                        </div>
                        <input type="hidden" name="device" value="{{ device.pk }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" style="margin-top:20px">
                {% permission user has 'devices.change_device' of device %}
                    <li class="active"><a href="#notes" data-toggle="tab">{% trans "Notes" %}</a></li>{% endpermission %}
                {% permission user has 'devices.lend_device' of device %}
                    <li><a href="#lending" data-toggle="tab">{% trans "Lending history" %}</a></li>{% endpermission %}
                {% permission user has 'devices.change_device' of device %}
                    <li><a href="#edit" data-toggle="tab">{% trans "Edit history" %}</a></li>{% endpermission %}
                {% permission user has 'devices.lend_device' of device %}
                    <li><a href="#mail" data-toggle="tab">{% trans "Mail history" %}</a></li>{% endpermission %}
                {% if USE_PUPPET %}
                {% permission user has 'devices.read_puppetdetails' of device %}
                    <li><a href="#puppet" data-toggle="tab">{% trans "Puppet Stats" %}</a></li>
                    <li><a href="#software" data-toggle="tab">{% trans "Software" %}</a></li>
                {% endpermission %}
                {% endif %}
            </ul>

            <div class="tab-content">
                {% permission user has 'devices.change_device' of device %}
                    <div class="tab-pane active" id="notes">
                        <ul class="list-unstyled" style="padding-top:20px;">
                            {% for note in device.notes.all %}
                                <li style="border-bottom:1px #dbdfe0 solid;padding-top:15px;padding-bottom:15px">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-2">
                                            {% if note.creator.avatar %}
                                                <img src="{{ note.creator.avatar.url }}"
                                                     class="img-rounded img-responsive" alt=""/>
                                            {% endif %}
                                            <p style="padding-top:5px;margin-bottom:0">{{ note.creator }}</p>
                                            <small style="color:darkgray">{{ note.created_at|date:"SHORT_DATETIME_FORMAT" }}</small>
                                        </div>
                                        <div class="col-xs-10 col-md-10">
                                            <div class="comment-text">
                                                {{ note.note|linebreaks }}
                                            </div>
                                            {% if note.creator == user %}
                                                <div class="action">
                                                    <button type="button" class="btn btn-primary btn-xs pull-left"
                                                            title="Edit">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <form action='{% url "device-note-delete" device.id note.id %}'
                                                          method='post' class='form-inline pull-left'
                                                          style="margin-left:10px">{% csrf_token %}
                                                        <button class="btn btn-danger btn-xs" title="Delete"
                                                                type="submit">
                                                            <i class="fa fa-trash-o"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <form action='{% url "device-note-create" device.pk %}' method='post'
                              class='form-horizontal col-md-6 col-md-offset-1' style="padding-left:0">
                            {% csrf_token %}
                            <textarea class="form-control" name="note" id="id_note"></textarea>
                            <input type="hidden" name="device" value="{{ device.pk }}"/>
                            <input type="hidden" name="creator" value="{{ user.pk }}"/>
                            <button type="submit" class="btn btn-success btn-sm pull-right" style="margin-top:10px">
                                <i class="fa fa-pencil"></i> {% trans "Add note" %}
                            </button>
                        </form>
                    </div>
                {% endpermission %}
                {% permission user has 'devices.change_device' of device %}
                    <div class="tab-pane" id="lending">
                        <h4>{% trans "10 last lendings" %}</h4>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{% trans "User" %}</th>
                                <th>{% trans "Since" %}</th>
                                <th>{% trans "Duedate" %}</th>
                                <th>{% trans "Returned" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lending in lending_list %}
                                <tr>
                                    <td><a href="{% url 'userprofile' lending.owner.pk %}">{{ lending.owner }}</a></td>
                                    <td>{{ lending.lenddate }}</td>
                                    <td>{{ lending.duedate|default_if_none:"never" }}</td>
                                    <td>{{ lending.returndate|default_if_none:"not returned" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'device-lending-list' device.pk %}" class="btn btn-default"><i
                                class="fa fa-book" style="margin-right:7px"></i>{% trans "View lending history" %}</a>
                    </div>
                {% endpermission %}

                {% permission user has 'devices.change_device' of device %}
                    <div class="tab-pane" id="edit">
                        <h4>{% trans "10 last edits" %}</h4>
                        <table id="change-history" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col">{% trans 'Date/time' %}</th>
                                <th scope="col">{% trans 'User' %}</th>
                                <th scope="col">{% trans 'Comment' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for action in version_list %}
                                <tr>
                                    <th scope="row"><a href="{% url 'history-detail' action.pk %}"
                                                       title="{{ action.revision.date_created|date:'c' }}"
                                                       class="edit-date">{{ action.revision.date_created }}</a></th>
                                    <td>
                                        <a href="{% url 'userprofile' action.revision.user.pk %}">{{ action.revision.user }}</a>
                                    </td>
                                    <td>{{ action.revision.comment|linebreaksbr|default:"" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'history-list' device.content_type.pk device.pk %}" class="btn btn-default"><i
                                class="fa fa-book" style="margin-right:7px"></i>{% trans "View edit history" %}</a>
                    </div>
                {% endpermission %}

                {% permission user has 'devices.lend_device' of device %}
                    <div class="tab-pane" id="mail">
                        <h4>{% trans "10 last sent mails" %}</h4>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{% trans "Mailtemplate" %}</th>
                                <th>{% trans "Subject" %}</th>
                                <th>{% trans "Sent by" %}</th>
                                <th>{% trans "Sent at" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mail in mail_list %}
                                <tr>
                                    <td>{{ mail.mailtemplate.name }}</td>
                                    <td>{{ mail.subject }}</td>
                                    <td><a href="{% url 'userprofile' mail.sent_by.pk %}">{{ mail.sent_by }}</a></td>
                                    <td><span title="{{ mail.sent_at|date:'c' }}"
                                              class="mail-date">{{ mail.sent_at }}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endpermission %}

                {% if USE_PUPPET %}
                {% permission user has 'devices.read_puppetdetails' of device %}
                    <div class="tab-pane" id="puppet">
                        <h4>{% trans "Puppet facts from puppetdb" %}</h4>
                        <div id="puppetdetails">
                            <i class="fa fa-spinner fa-spin"></i> {% trans "Loading Puppet Facts..." %}
                        </div>
                    </div>
                    <div class="tab-pane" id="software">
                        <h4>{% trans "Installed software from puppetdb" %}</h4>
                        <div id="softwaredetails">
                            <i class="fa fa-spinner fa-spin"></i> {% trans "Loading Software List..." %}
                        </div>
                    </div>
                {% endpermission %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block htmlend %}
    {% permission user has 'devices.lend_device' of device %}
        {% include "snippets/modals/lending.html" with modalname="lendModal" %}
        {% include "snippets/modals/lendingReturn.html" with modalname="returnModal" %}

        {% include "snippets/modals/devicemailModal.html" with modalname="mailModal" %}
        {% include "snippets/modals/deviceImageModal.html" with modalname="pictureModal" %}
    {% endpermission %}


    {% if display_printbutton %}
        {% include "snippets/modals/deviceprintDymoModal.html" with modalname="printDymoModal" label_path=label_path %}
    {% endif %}
    <script type="text/javascript" language="javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
{% endblock %}

{% block scriptend %}
    $("#id_ipaddresses").select2({
    tokenSeparators: [",", " "]}).
    on("change", function(e) {
    if (e.val.length != 0) {
    $("#submitipaddress").removeClass("disabled")
    } else {
    $("#submitipaddress").addClass("disabled")
    }
    });

    $("#id_tags").select2({
    tokenSeparators: [",", " "]}).
    on("change", function(e) {
    if (e.val.length != 0) {
    $("#submittags").removeClass("disabled")
    } else {
    $("#submittags").addClass("disabled")
    }
    });


    {% permission user has 'devices.delete_device' of device %}
        $("#deletebutton").popover({
        html: 'true',
        placement: "left",
        title : '<span class="text-info" style="margin-right:10px"><strong>{% trans "Are you sure?" %}</strong></span>',
        content :"<form action='{% url "device-delete" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<button type='button' class='btn btn-default dropdown-cancel'onclick='$(&quot;#deletebutton&quot;).popover(&quot;hide&quot;);'>{% trans "No" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right'style='margin-left:10px;'/>"+
            "</form>"
        })
    {% endpermission %}
    {% permission user has 'devices.change_device' of device %}
        $("#archivebutton").popover({
        html: 'true',
        placement: "left",
        title : '<span class="text-info" style="margin-right:10px"><strong>{% trans "Are you sure?" %}</strong></span>',
        content :"<form action='{% url "device-archive" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<button type='button' class='btn btn-default dropdown-cancel'onclick='$(&quot;#archivebutton&quot;).popover(&quot;hide&quot;);'>{% trans "No" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right' style='margin-left:10px;'/>"+
            "</form>"
        })

        $("#storagebutton").popover({
        html: 'true',
        placement: "left",
        title : '<span class="text-info" style="margin-right:10px"><strong>{% trans "Are you sure?" %}</strong></span>',
        content :"<form action='{% url "device-storage" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<div class='form-group dropdown-cancel'><label for='id_send_mail' class='col-sm-10 control-label'>Send room-changed email</label><div class='col-sm-'>"+
            "<input id='id_send_mail' name='send_mail' type='checkbox' class='form-control dropdown-cancel'></div></div>"+
            "<button type='button' class='btn btn-default dropdown-cancel'onclick='$(&quot;#storagebutton&quot;).popover(&quot;hide&quot;);'>{% trans "Cancel" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right'style='margin-left:10px;'/>"+
            "</form>"
        })

        $("#trashbutton").popover({
        html: 'true',
        placement: "left",
        title : '<span class="text-info" style="margin-right:10px"><strong>  Are you sure? {%if object.used_in%} This object is still used in <a href="{% url 'device-detail' object.used_in.pk %}">{{object.used_in}}</a>. {% elif usedset%} This object still uses {% for element in usedset %} <a href="{% url 'device-detail' element.pk %}"> {{element}} </a>{% endfor %} .{% endif %} </strong></span>',
        content :"<form action='{% url "device-trash" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<button type='button' class='btn btn-default dropdown-cancel'onclick='$(&quot;#trashbutton&quot;).popover(&quot;hide&quot;);'>{% trans "No" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right' style='margin-left:10px;'/>"+
            "</form>"
        })
    {% endpermission %}

    $(function() {
    $( "#id_duedate" ).datepicker();
    });
    $(document).ready(function() {
    $(".edit-date").timeago();
    $(".mail-date").timeago();

    $("select").select2()
    $("#id_mailtemplate").change(function() {
    if ($(this).val() === "") {
    } else {
    $.ajax({
    type: "POST",
    url: "{% url "load-mailtemplate" %}",
    data: {"template":$(this).val(), "recipients":$("#id_emailrecipients").select2("val")}
    }).done(function(data) {
    $("#id_emailsubject").val(data.subject)
    $("#id_emailbody").val(data.body)
    $('#id_emailrecipients').select2('val', data.recipients)
    })
    }
    });
    });

    $(document).ready(function() {
    $(document).on('click', '.dropdown-cancel', function (e) {
    e.stopPropagation();
    });

    $(document).on('click', '.delete-picture', function (e) {
        var picture_id = e.target.id.replace("picture", "")
        var url = "{% url "device-api-picture" device.pk 0 %}".replace("pictures/0", "pictures/"+picture_id)
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function() {
                var row = e.target.parentNode.parentNode
                var modalBody = row.parentNode
                modalBody.removeChild(row)

            },
        });
    });


    $(document).on('click', '.rotate-picture-right', function (e) {
      rotate_and_reload(e, "right");
    });
    $(document).on('click', '.rotate-picture-left', function (e) {
      rotate_and_reload(e, "left");
    });

    function rotate_and_reload(e, direction){
        var picture_id = e.target.id.replace("picture", "")
        var url = "{% url "device-api-picture-rotate" device.pk 0 "placeholder" %}".replace("pictures/0", "pictures/"+picture_id).replace("placeholder", direction)
        $.ajax({
            url: url,
            type: 'PATCH',
            success: function(data) {
              var d = new Date();
              img = e.target.parentElement.parentElement.getElementsByTagName('img')[0];
              if (data.new_source.length){
                // image was converted to png
                img.src = img.src.replace(data.old_source, data.new_source)
              } else {
                // force cache invalidation and reload
                img.src = img.src.split("?")[0] + '?' + d.getTime();
              }
            },
        });
    }



    $("#puppetdetails").load("{% url "puppet-details" %}", { "id" : "{{ device.pk }}"});
    $("#softwaredetails").load("{% url "puppet-software" %}", { "id" : "{{ device.pk }}"});
});
{% endblock %}
