{% extends "base.html" %}
{%  load devicetags %}
{% load i18n %}

{% block title %}{{device.name}}{% endblock %}

{% block header %}
{% trans "Device" %}: {{device.name}}
{% endblock %}

{% block pullright %}
{% if device.archived == None %}
{% if perms.devices.delete_device %}<a  href="#" data-target="#deleteModal" data-toggle="modal" class="btn btn-danger pull-right btn-sm" style="margin-left:10px"><i class="icon-remove" style="margin-right:7px"></i>{% trans "Delete" %}</a>{% endif %}
{% if perms.devices.change_device %}<a   href="#" data-target="#archiveModal" data-toggle="modal" class="btn btn-danger pull-right btn-sm" style="margin-left:10px"><i class="icon-folder-close" style="margin-right:7px"></i>{% trans "Archive" %}</a>{% endif %}
{% if perms.devices.create_device %}<a href="{% url 'device-add-copy' device.id %}" class="btn btn-default pull-right btn-sm" style="margin-left:10px"><i class="icon-copy" style="margin-right:7px"></i>{% trans "Create Copy" %}</a>{% endif %}
{% if perms.devices.change_device %}<a href="{% url 'device-edit' device.id %}" class="btn btn-primary pull-right btn-sm" style="margin-left:10px"><i class="icon-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>{% endif %}
{% if perms.devices.lend_device %}
  {% if device.currentlending != None %}
    <a href="{% url 'device-return' device.id %}" class="btn btn-success pull-right btn-sm"style="margin-left:10px"><i class="icon-ok" style="margin-right:7px"></i>{% trans "Mark as returned" %}</a>
  {% else %}
    <a  href="#" data-target="#lendModal" data-toggle="modal" class="btn btn-success pull-right btn-sm"style="margin-left:10px"><i class="icon-ok" style="margin-right:7px"></i>{% trans "Mark as Lendt" %}</a>
  {% endif %}
{% endif %}
{% else %}
{% if perms.devices.change_device %}
  <a  href="#" data-target="#archiveModal" data-toggle="modal" class="btn btn-success pull-right btn-sm" style="margin-left:10px"><i class="icon-folder-open" style="margin-right:7px"></i>{% trans "Unarchive" %}</a>{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-4">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr><td>{% trans "Bildnumber" %}</td><td>{{device.bildnumber}}</td></tr>
        <tr><td>{% trans "Serialnumber" %}</td><td>{{device.serialnumber}}</td></tr>
        <tr><td>{% trans "MAC-Address" %}</td><td>{{device.macaddress}}</td></tr>
        <tr><td>{% trans "Devicetype" %}</td><td>{{device.devicetype}}</td></tr>
        <tr><td>{% trans "Manufacturer" %}</td><td>{{device.manufacturer}}</td></tr>
        <tr><td>{% trans "Room" %}</td><td>{{device.room}}</td></tr>
        <tr><td>{% trans "Created by" %}</td><td><a href="{% url 'userprofile' device.creator.pk %}">{{ device.creator }}</a></td></tr>
{% for attributevalue in attributevalue_list %}
        <tr><td>{{attributevalue.typeattribute.name}}</td><td>{{attributevalue}}</td></tr>
{% endfor %}
      </tbody>
    </table>
{% if device.webinterface != "" %}<a href="{{device.webinterface}}" target="_blank">{% trans "Go to webinterface" %}</a>{% endif %}
<h4>{% trans "Current Lending information" %}</h4>
    {% if device.currentlending != None %}
      <table class="table table-bordered table-striped">
      <tbody>
        <tr><td>{% trans "Lendt to" %}</td><td>{{device.currentlending.owner}}</td></tr>
        <tr><td>{% trans "Since" %}</td><td>{{device.currentlending.lenddate}}</td></tr>
        <tr><td>{% trans "Due to" %}</td><td>{{device.currentlending.duedate}}
{% if device.currentlending.duedate < weekago %}<span class="error-icon"><i class="icon-exclamation-sign"></i></span>
{% elif device.currentlending.duedate < today %}<span class="warning-icon"><i class="icon-exclamation-sign"></i></span>
{% endif %}
<tr><td>{% trans "Overdue notification" %}</td><td>{{device.currentlending.duedate_email|default_if_none:"Not sent"}}</td></tr>
</td></tr>
      </tbody>
    </table>
    {% else %}
    <p>{% trans "Currently not lent" %}</p>
    {% endif %}

{% if lending_list %}
<h4>{% trans "Lending history" %}</h4>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>{% trans "User" %}</th>
      <th>{% trans "Since" %}</th>
      <th>{% trans "Duedate" %}</th>
      <th>{% trans "Returned" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for lending in lending_list %}
    <tr>
      <td><a href="{% url 'userprofile' lending.owner.pk %}">{{lending.owner}}</a></td>
      <td>{{lending.lenddate}}</td>
      <td>{{lending.duedate|default_if_none:"never"}}</td>
      <td>{{lending.returndate|default_if_none:"not returned"}}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endif %}

{% if perms.devices.change_device %}<a href="{% url 'device-history-list' device.pk %}" class="btn btn-default"><i class="icon-book" style="margin-right:7px"></i>{% trans "View edit-history" %}</a>{% endif %}
  </div>
<div class="col-xs-12 col-md-5">
{{device.description|linebreaks}}
</div>
  <div class="col-xs-12 col-md-3">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{% trans "IP-Addresses" %}</div>
  <ul class="list-group">
    {% for address in ipaddress_list %}
        <li class="list-group-item ipaddress-list">{{address.address}} <a href="{% url 'device-ipaddress-remove' device.pk address.pk %}" class="close delete right"><i class="icon-remove"></i></a></li>
      {% endfor %}
  </ul>
  
          {% if device.archived == None and perms.devices.change_device %}
  <div class="panel-footer">
      <form method="post" action="{% url 'device-ipaddress' device.pk %}" style="margin:0px;">{% csrf_token %}
        {{ipaddressform.ipaddresses}}
        <div class="row" style="margin-top:10px; margin-left:0px; margin-right:0px;">
        <button type="submit" class ="btn btn-success btn-sm pull-right disabled" id="submitipaddress"><i class="icon-plus"></i> {% trans "Assign Addresses" %}</button>
    </div>
    <input type="hidden" name="device" value="{{ device.pk }}" />
      </form>
  </div>
    {% endif %}
</div>
  </div>
</div>

{% if perms.devices.lend_device %}
  <div class="modal fade" id="lendModal" role="dialog" aria-labelledby="lendModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Mark device as lendt" %}</h4>
        </div>
          <form action="{% url "device-lend"  device.id %} "method="post" class="form-horizontal">{% csrf_token %}
        <div class="modal-body">
{% for field in lendform %}
{% if field.html_name == "duedate" %}
<div class="form-group {{field.css_classes}}">
    <label for="{{field.html_name}}" class="col-lg-4 control-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
    <div class="col-lg-8">
<div class="bfh-datepicker">
  <div class="bfh-datepicker-toggle" data-toggle="bfh-datepicker">
    <input type="text" class="form-control">
  </div>
  <div class="bfh-datepicker-calendar">
    <table class="calendar table table-bordered">
      <thead>
        <tr class="months-header">
          <th class="month" colspan="4">
            <a class="previous" href="#"><i class="icon-chevron-left"></i></a>
            <span></span>
            <a class="next" href="#"><i class="icon-chevron-right"></i></a>
          </th>
          <th class="year" colspan="3">
            <a class="previous" href="#"><i class="icon-chevron-left"></i></a>
            <span></span>
            <a class="next" href="#"><i class="icon-chevron-right"></i></a>
          </th>
        </tr>
        <tr class="days-header">
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
      <p class="help-block">{% if field.errors %}{% for error in field.errors %}{{error}}, {% endfor %}{% endif %}</p>
    </div>
  </div>
{% else %}
<div class="form-group {{field.css_classes}}">
    <label for="{{field.html_name}}" class="col-lg-4 control-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
    <div class="col-lg-8">
      {{ field}}
      <p class="help-block">{% if field.errors %}{% for error in field.errors %}{{error}}, {% endfor %}{% endif %}</p>
    </div>
  </div>
  {% endif %}
{% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
          <input type="submit" value="{% trans "Submit" %}" class="btn btn-success" />
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}

{% if perms.devices.change_device %}
  <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% if object.archived == None %}{% trans "Archive Device" %}{% else %}{% trans "Unarchive Device" %}{% endif %}</h4>
        </div>
        <div class="modal-body">
  <div class="alert alert-info">{% if object.archived == None %}
    {% blocktrans %}Do you really want to archive  the device: {{object}}?{% endblocktrans %}
    {% else %}
    {% blocktrans %}Do you really want to unarchive  the device: {{object}}?{% endblocktrans %}
    {% endif %}</div>
        </div>
        <div class="modal-footer">
          <form action="{% url "device-archive" device.id %}" method="post" class="form-horizontal">{% csrf_token %}
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button><input type="submit" value="{% trans "Yes" %}" class="btn btn-danger btn-sm" />
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}

{% if perms.devices.delete_device %}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Device" %}</h4>
        </div>
        <div class="modal-body">
  <div class="alert-danger alert">{% blocktrans %}Do you really want to delete the device: {{object}}?{% endblocktrans %}</div>
        </div>
        <div class="modal-footer">
          <form action="{% url "device-delete" device.id %}" method="post" class="form-horizontal">{% csrf_token %}
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button><input type="submit" value="{% trans "Yes" %}" class="btn btn-danger btn-sm" />
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}
{% endblock %}

{% block scriptend %}
$("#id_ipaddresses").select2({
    tokenSeparators: [",", " "]}).
    on("change", function(e) {
    if (e.val.length != 0) {
    $("#submitipaddress").removeClass("disabled")
  } else {
    $("#submitipaddress").addClass("disabled")
  }
  });

$("select").select2()

{% endblock %}