{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Global edit history" %}{% endblock %}

{% block header %}
    {% trans "Global edit history" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination_simple.html" with listurl='globalhistory' %}
    <table id="change-history" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">{% trans 'Type' %}</th>
            <th scope="col">{% trans 'Device' %}</th>
            <th scope="col">{% trans 'Date/time' %}</th>
            <th scope="col">{% trans 'User' %}</th>
            <th scope="col">{% trans 'Comment' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in revision_list %}
            <tr>
                <td>{{ action.content_type }}</td>
                <td>
                    {% if action.content_type.model == "ipaddress" %}
                        <a href="{% url 'ipaddress-detail' action.object_id %}">{{ action.field_dict.address }}
                    {% elif action.content_type.model == "building" %}
                        <a href="{% url 'building-detail' action.object_id %}">{{ action.field_dict.name }}
                    {% elif action.content_type.model == "room" %}
                        <a href="{% url 'room-detail' action.object_id %}">{{ action.field_dict.name }}
                    {% elif action.content_type.model == "manufacturer" %}
                        <a href="{% url 'manufacturer-detail' action.object_id %}">{{ action.field_dict.name }}
                    {% elif action.content_type.model == "type" %}
                        <a href="{% url 'type-detail' action.object_id %}">{{ action.field_dict.name }}
                    {% elif action.content_type.model == "mailtemplate" %}
                        <a href="{% url 'mail-detail' action.object_id %}">{{ action.field_dict.name }}
                    {% elif action.content_type.model == "devicegroup" %}
                        <a href="{% url 'devicegroup-detail' action.object_id %}">{{ action.field_dict.name }}
                    {% elif action.content_type.model == "device" %}
                        <a href="{% url 'device-detail' action.object_id %}">{{ action.field_dict.name }}
                    {% endif %}
                    </a>
                </td>
                <td>
                    {% if action.content_type.model == "device" %}
                        <a href="{% url 'device-history' action.object_id action.pk %}"
                           title="{{ action.revision.date_created|date:'c' }}"
                           class="edit-date">{{ action.revision.date_created }}</a>
                    {% else %}
                        <span title="{{ action.revision.date_created|date:'c' }}"
                              class="edit-date">{{ action.revision.date_created }}</span>
                    {% endif %}
                </td>
                <td><a href="{% url 'userprofile' action.revision.user.pk %}">{{ action.revision.user }}</a></td>
                <td>{{ action.revision.comment|linebreaksbr|default:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "snippets/pagination_simple.html" with listurl='globalhistory' %}
{% endblock %}

{% block scriptend %}
    $(document).ready(function() {
    $(".edit-date").timeago();
    });


    {% include "snippets/pagination_simple_js.html" with pageurl="globalhistory" %}
{% endblock %}