{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Global edit history" %}{% endblock %}

{% block header %}
{% trans "Global edit history" %}
{% endblock %}

{% block content %}
{% include "snippets/pagination.html" with listurl='device-globalhistory' %}
<table id="change-history" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">{% trans 'Device' %}</th>
                            <th scope="col">{% trans 'Date/time' %}</th>
                            <th scope="col">{% trans 'User' %}</th>
                            <th scope="col">{% trans 'Comment' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action in revision_list %}
                            <tr>
                                <td><a href="{% url 'device-detail' action.object_id %}">{{action.field_dict.name}}</a></td>
                                <td><a href="{% url 'device-history' action.object_id action.pk %}">{{action.revision.date_created}}</a></td>
                                <td><a href="{% url 'userprofile' action.revision.user.pk %}">{{action.revision.user}}</a></td>
                                <td>{{action.revision.comment|linebreaksbr|default:""}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

{% include "snippets/pagination.html" with listurl='device-globalhistory' %}
{% endblock %}

{% block scriptend %}
{% endblock %}