{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Manufacturers" %}{% endblock %}

{% block header %}
{% trans "Manufacturers" %}
{% endblock %}

{% block pullright %}
<a href="{% url 'manufacturer-add' %}" class="button success small right">{% trans "Add Manufacturer" %}</a>
{% endblock %}

{% block content %}
{% include "snippets/pagination.html" with listurl='manufacturer-list' %}
<ul>
  {% for manufacturer in manufacturer_list %}
  <li><a href="{% url 'manufacturer-detail' manufacturer.id %}">{{manufacturer.name}}</a></li>
  {% endfor %}
</ul>
{% include "snippets/pagination.html" with listurl='manufacturer-list' %}
{% endblock %}

{% block scriptend %}
{% endblock %}