{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% block title %}{{ object.name }}{% endblock %}

{% block header %}
    {% trans "Manufacturer" %}: {{ object.name }}
{% endblock %}
{% block pullright %}
    {% if perms.devices.delete_manufacturer %}
        <a href="#" id="deletebutton" data-toggle="modal" class="btn btn-danger btn-sm pull-right"
           style="margin-left:10px"><i class="fa fa-trash-o" style="margin-right:7px"></i>{% trans "Delete" %}</a>
    {% endif %}
    {% if "manufacturer" in LABEL_TEMPLATES %}
        <a href="#" class="btn btn-primary pull-right btn-sm" style="margin-left:10px" data-target="#printDymoModal"
           data-toggle="modal"><i class="fa fa-print" style="margin-right:7px"></i>{% trans "Print Label" %}</a>
    {% endif %}
    {% if perms.devices.change_manufacturer %}
        <a href="{{ object.get_edit_url }}" class="btn btn-primary btn-sm pull-right" style="margin-left:10px">
        <i class="fa fa-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>
        <a href="#" class="button right small dropdown" data-dropdown="mergedropdown"></a>
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-share" style="margin-right:7px"></i>{% trans "Merge" %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for merge in merge_list %}
                    <li><a href="{% url 'manufacturer-merge' object.pk merge.pk %}">{{ merge.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    {% if device_list %}
        {% if perms.devices.read_device %}
            <h4>Devices</h4>
            <table width="100%" id="devicetable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Inventorynumber" %}</th>
                    <th>{% trans "Devicetype" %}</th>
                    <th>{% trans "Room" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for device in device_list %}
                    <tr>
                        <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
                        <td>{{ device.inventorynumber }}</td>
                        <td>{{ device.devicetype__name }}</td>
                        <td>{{ device.room__name }} ({{ device.room__building__name }})</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    {% endif %}
{% endblock %}

{% block htmlend %}
    {% if "manufacturer" in LABEL_TEMPLATES %}
        {% include "snippets/modals/deviceprintDymoModal.html" with modalname="printDymoModal" label_path=LABEL_TEMPLATES.type.0 %}
    {% endif %}
{% endblock %}

{% block scriptend %}
    {% if perms.devices.delete_manufacturer %}
        $("#deletebutton").popover({
        html: 'true',
        placement: "bottom",
        title : '<span class="text-info" style="margin-right:10px"><strong>{% trans "are you sure?" %}</strong></span>',
        content :"<form action='{% url "manufacturer-delete" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<button type='button' class='btn btn-default' onclick='$(&quot;#deletebutton&quot;).popover(&quot;hide&quot;);'>{% trans "No" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right'/>"+
            "</form>"
        })
    {% endif %}
{% endblock %}