{% extends "base.html" %}
{%  load devicetags %}
{% load i18n %}
{% block title %}{{room.name}}{% endblock %}

{% block header %}
{% trans "Room" %}: {{room.name}}
{% endblock %}

{% block pullright %}
  <a  href="#" data-reveal-id="deleteModal"class="button alert right small" style="margin-left:10px">{% trans "Delete" %}</a>
<a href="{% url 'room-edit' room.id %}" class="button success small right" style="margin-left:10px">{% trans "Edit" %}</a>
<a href="#" class="button right small dropdown" data-dropdown="mergedropdown">{% trans "Merge" %}</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-6 large-8 columns">
    <table>
      <tbody>
        <tr><td>{% trans "Building" %}</td><td><a href="{% url 'building-detail' room.building.id %}">{{room.building}}</a></td></tr>
      </tbody>
    </table>
  </div>
</div>

<h4>{% trans "Device" %}</h4>
{% if device_list %}
    <table width="100%" id="devicetable">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Bildnumber" %}</th>
      <th>{% trans "Devicetype" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for device in device_list %}
    <tr>
      <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
      <td>{{ device.bildnumber }}</td>
      <td>{{ device.devicetype }}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endif %}

<div id="deleteModal" class="reveal-modal medium">
  <div class="alert-box alert">Do you really want to delete the {% get_verbose_name object %}: {{object}}?</div>
<form action="{% url "room-delete" room.id %}" method="post" class="form-horizontal">{% csrf_token %}
<input type="button" value="{% trans "No" %}" onclick="$('#deleteModal').foundation('reveal', 'close');" class="button small" style="margin-right:10px;"><input type="submit" value="{% trans "Yes" %}" class="button alert small" />
</form>
  <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block htmlend%}
<ul id="mergedropdown" class="f-dropdown">
{% for merge in merge_list %}
  <li><a href="{% url 'room-merge' room.pk merge.pk %}">{{ merge.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}