{% extends "base.html" %}
{%  load devicetags %}
{% load i18n %}
{% block title %}{{room.name}}{% endblock %}

{% block header %}
{% trans "Room" %}: {{room.name}}
{% endblock %}

{% block pullright %}
  <a  href="#" data-target="#deleteModal" data-toggle="modal" class="btn btn-danger btn-sm pull-right" style="margin-left:10px"><i class="icon-remove" style="margin-right:7px"></i>{% trans "Delete" %}</a>
<a href="{% url 'room-edit' room.id %}" class="btn btn-primary btn-sm pull-right" style="margin-left:10px"><i class="icon-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>
<a href="#" class="button right small dropdown" data-dropdown="mergedropdown"></a>
<div class="btn-group">
  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
    <i class="icon-share-alt" style="margin-right:7px"></i>{% trans "Merge" %} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {% for merge in merge_list %}
  <li><a href="{% url 'room-merge' room.pk merge.pk %}">{{ merge.name }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-5">
<dl class="dl-horizontal">
  <dt>{% trans "Building" %}</dt>
  <dd><a href="{% url 'building-detail' room.building.id %}">{{room.building}}</a></dd>
</dl>
        <tr><td></td></tr>
      </tbody>
    </table>
  </div>
<div class="col-xs-12 col-md-7">
<h4>{% trans "Device" %}</h4>
{% if device_list %}
    <table width="100%" id="devicetable" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Bildnumber" %}</th>
      <th>{% trans "Devicetype" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for device in device_list %}
    <tr>
      <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
      <td>{{ device.bildnumber }}</td>
      <td>{{ device.devicetype }}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete this Room" %}</h4>
        </div>
        <div class="modal-body">
           <div class="alert-danger alert" style="margin-bottom:0px;">Do you really want to delete the {% get_verbose_name object %}: {{object}}?</div>
        </div>
        <div class="modal-footer">
          <form action="{% url "room-delete" object.id %}" method="post" class="form-horizontal">{% csrf_token %}
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">No</button>
            <input type="submit" value="{% trans "Yes" %}" class="btn btn-danger" />
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}