{% load i18n %}{% load devicetags %}
<form method="POST" action="{%  url "ajax-search" %}" id="exportform">{% csrf_token %}
    <input type="hidden" name="search" id="export-searchrequest" />
    <input type="hidden" name="format" value="csv" />
    <button class="btn btn-default btn-sm pull-right" id="exportbutton"><i class="fa fa-download"></i>  Export as CSV</button>
</form>
<table id="devicetable" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>{% trans "#" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Inventorynumber" %}</th>
        <th>{% trans "Serialnumber" %}</th>
        <th>{% trans "Devicetype" %}</th>
        <th>{% trans "Room" %}</th>
        <th>{% trans "User" %}</th>
        {% for column in columns %}
            <th>{{ column.1 }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for device in device_list %}
        <tr>
            <td><a href="{% url 'device-detail' device.id %}">{{ device.id }}</a></td>
            <td><a href="{% url 'device-detail' device.id %}">{{ device.name | default:"(None)" }}</a></td>
            <td>{{ device.inventorynumber|default:"-"  }}</td>
            <td>{{ device.serialnumber|default:"-"  }}</td>
            <td>{{ device.devicetype__name|default:"-"  }}</td>
            <td>{{ device.room__name }} ({{ device.room__building__name }})</td>
            <td>{% if device.currentlending__owner__id %}<a href="{% url 'userprofile' device.currentlending__owner__id %}">{{ device.currentlending__owner__username }}</a>{% else %}-{% endif %}</td>
            {% for column in columns %}<td>
                {% if column.0 == "ipaddress" %}{{ device.ipaddress__address }}
                    {% elif column.0 == "manufacturer" %}{{ device.manufacturer__name }}
                    {% elif column.0 == "group" %}{{ device.group__name }}
                    {% else %}{{ device|get_attribute_from_list:column.0 }}
            {% endif %}</td>{% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
