{% extends "base.html" %}
{% load i18n staticfiles devicetags %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block header %}
    {% trans "Search" %}
{% endblock %}

{% block content %}
    <form class="row">
        <div class="form-group col-md-10">
            <input type="text" name="searchstring" class="form-control" autofocus value="{{ searchstring }}" placeholder="lenovo type:tablet trashed:true">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">{% trans "Search" %}</button>
        </div>
    </form>
    <p>{% trans "Available keys" %}: {{ keys|join:', ' }}</p>

    {% if searchstring %}
        <table id="devicetable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Inventorynumber" %}</th>
                    <th>{% trans "Serialnumber" %}</th>
                    <th>{% trans "Devicetype" %}</th>
                    <th>{% trans "Room" %}</th>
                    <th>{% trans "User" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for device in object_list %}
                    <tr>
                        <td><a href="{{ device.get_absolute_url }}">{{ device.name }}</a></td>
                        <td>{{ device.inventorynumber }}</td>
                        <td>{{ device.serialnumber }}</td>
                        <td>{{ device.devicetype }}</td>
                        <td>{{ device.room }}</td>
                        <td>{{ device.currentlending.owner }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block htmlend %}
    <script type="text/javascript" language="javascript" src="{% static "datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "js/datatables.bootstrap.js" %}"></script>
{% endblock %}
