{% extends "base.html" %}
{% load i18n %}{% load staticfiles %}
{% block title %}{% trans "Search" %}{% endblock %}

{% block header %}
    {% trans "Search" %}
{% endblock %}
{% block content %}
    {% include 'snippets/searchform.html' %}

    <div id="searchspinner" style="display:none">
        <div style="text-align:center">
            <h4>{% trans "Searching" %}...</h4>
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
    </div>
    <div id="searchresult" style="display:none">
        <table id="devicetable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Inventorynumber" %}</th>
                <th>{% trans "Devicetype" %}</th>
                <th>{% trans "Room" %}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scriptend %}
    {% include 'snippets/searchform_js.html' %}
{% endblock %}

{% block htmlend %}
    <script src="{% static "js/dependencies.js" %}" type="text/javascript"></script>
    <script src="{% static "js/underscore-1.4.3.js" %}" type="text/javascript"></script>
    <script src="{% static "js/backbone-0.9.10.js" %}" type="text/javascript"></script>
    <script src="{% static "js/visualsearch.js" %}" type="text/javascript"></script>
    <script type="text/javascript" language="javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "js/datatables.bootstrap.js" %}"></script>
{% endblock %}