{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Devicetypes" %}{% endblock %}

{% block header %}
{% trans "Templates" %}
{% endblock %}

{% block pullright %}
<a href="{% url 'template-add' %}" class="btn btn-success btn-sm"><i class="icon-plus" style="margin-right:7px"></i>{% trans "Add Template" %}</a>
{% endblock %}

{% block content %}
<ul>
  {% for template in template_list %}
  <li><a href="{% url 'template-edit' template.id %}">{{template.name}}</a><a href="{% url 'template-delete' template.pk %}" style="margin-left:20px">X</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block scriptend %}
{% endblock %}