{% extends "base.html" %}
{%  load devicetags %}

{% block header %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="small-8 center columns">
  <div class="alert-box alert">Do you really want to unassign the IP-Address {{ipaddress}} from {{device}}?</div>
<form action="" method="post" class="form-horizontal">{% csrf_token %}
<a href="{{device.get_absolute_url}}" class="button small" style="margin-right:10px;">No</a><input type="submit" value="Yes" class="button alert small" />
</form>

</div>
</div>
{% endblock %}