{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% block title %}{{ url.name }}{% endblock %}

{% block header %}
    {% trans "Manufacturer url" %}: {{ url.name }}
{% endblock %}

{% block pullright %}
{% if perms.devices.read_url %}
        <a href="{% url 'url-edit' url.manufacturer.id url.id %}" class="btn btn-primary btn-sm pull-right" style="margin-left:10px">
        <i class="fa fa-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>
        <a href="#" class="button right small dropdown" data-dropdown="mergedropdown"></a>

{% endif %}
{% if perms.devices.delete_url %}
    {% deletebutton "url-delete" object.manufacturer.id object.id %}
{% endif %}
{% endblock %}

{% block content %}
{% if perms.devices.read_url %}
<div class="row">
    <div class="col-xs-12 col-md-4">
      <h4>{% trans "Url Details" %}</h4>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td>{% trans "Name" %}</td>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Url" %}</td>
                <td>{{ url.url }}</td>
            </tr>
            <tr>
                <td>{% trans "Manufacturer" %}</td>
                <td>{{ url.manufacturer }}</td>
            </tr>
            </tbody>
        </table>
      </div>
  </div>
{% endif %}
{% endblock %}
