{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% load permissionif %}
{% block title %}{{ department.name }}{% endblock %}

{% block pullright %}
    {% if perms.users.delete_department %}
        <a href="#" id="deletebutton" data-toggle="popover" class="btn btn-danger btn-sm pull-right"
           style="margin-left:10px"><i class="fa fa-trash-o" style="margin-right:7px"></i>{% trans "Delete" %}</a>
    {% endif %}
    {% if "section" in LABEL_TEMPLATES %}
        <a href="#" class="btn btn-primary pull-right btn-sm" style="margin-left:10px" data-target="#printDymoModal"
           data-toggle="modal"><i class="fa fa-print" style="margin-right:7px"></i>{% trans "Print Label" %}</a>
    {% endif %}
    {% if perms.users.change_department %}
        <a href="{% url 'department-edit' object.id %}" class="btn btn-primary btn-sm pull-right"
           style="margin-left:10px"><i class="fa fa-pencil" style="margin-right:7px"></i>{% trans "Edit" %}</a>
        <a href="#" class="button right small dropdown" data-dropdown="mergedropdown"></a>
    {% endif %}
    {% permission user has 'users.add_department_user' of department %}
        <a href="{% url "department-add-user" department.id %}" id="adduserbutton" data-toggle="popover" class="btn btn-success btn-sm pull-right"
           style="margin-left:10px"><i class="fa fa-plus" style="margin-right:7px"></i>{% trans "Add User" %}</a>
    {%  endpermission %}
{% endblock %}

{% block content %}
    <div class="row">
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>{%  trans "User" %}</th>
            <th>{% trans "Role" %}</th>
        </tr>
        </thead>
        {% for member in department_users %}
            <tr>
                <td><a href="{% url 'userprofile' member.user.id %}">{{member.user}}</a></td>
                <td>{{ member.get_role_display }}
                {% if user != member.user %}
                    {% permission user has 'users.add_department_user' of department %}
                    <a href="{% url "department-remove-user" member.id %}" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Remove from Department</span></a>
                    {%  endpermission %}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}

{% block scriptend %}
    {% if perms.locations.delete_section %}
        $("#deletebutton").popover({
        html: 'true',
        placement: "bottom",
        title : '<span class="text-info" style="margin-right:10px"><strong>{% trans "are you sure?" %}</strong></span>',
        content :"<form action='{% url "department-delete" object.id %}' method='post' class='form-horizontal'>{% csrf_token %}"+
            "<button type='button' class='btn btn-default'"+
            "<button type='button' class='btn btn-default' onclick='$(&quot;#deletebutton&quot;).popover(&quot;hide&quot;);'>{% trans "No" %}</button>"+
            "<input type='submit' value='{% trans "Yes" %}' class='btn btn-danger pull-right'/>"+
            "</form>"
        })
    {% endif %}
{% endblock %}
