{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% load usertags %}

{% block title %}{{ department.name }}{% endblock %}

{% block pullright %}
    {% if can_delete %}
        {% deletebutton "department-delete" object.id %}
    {% endif %}
    {% if "section" in LABEL_TEMPLATES %}
        <a href="#" class="btn btn-primary pull-right btn-sm" style="margin-left:10px" data-target="#printDymoModal" data-toggle="modal">
            <i class="fa fa-print" style="margin-right:7px"></i>{% trans "Print Label" %}
        </a>
    {% endif %}
    {% if perms.users.change_department %}
        <a href="{% url 'department-edit' object.id %}" class="btn btn-primary btn-sm pull-right" style="margin-left:10px">
            <i class="fa fa-pencil" style="margin-right:7px"></i>{% trans "Edit" %}
        </a>
        <a href="#" class="button right small dropdown" data-dropdown="mergedropdown"></a>
    {% endif %}
    {% has_perm 'users.add_department_user' user department as can_add_department_user %}
    {% if can_add_department_user %}
        <a href="{% url "department-add-user" department.id %}" id="adduserbutton" data-toggle="popover" class="btn btn-success btn-sm pull-right" style="margin-left:10px">
            <i class="fa fa-plus" style="margin-right:7px"></i>{% trans "Add User" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>{%  trans "User" %}</th>
                    <th>{% trans "Role" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in department_users %}
                    <tr>
                        <td><a href="{% url 'userprofile' member.user.id %}">{{member.user}}</a></td>
                        <td>{{ member.get_role_display }}
                            {% if user != member.user %}
                                {% has_perm 'users.add_department_user' user department as can_add_department_user %}
                                {% if can_add_department_user %}
                                    <a href="{% url "department-remove-user" member.id %}" class="close">
                                        <span aria-hidden="true">&times;</span><span class="sr-only">Remove from Department</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
