{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% load usertags %}

{% block title %}{{ department.name }}{% endblock %}

{% block pullright %}
    {% has_perm 'users.add_department_user' user department as can_add_department_user %}
    {% if can_add_department_user %}
        <a href="{% url "department-add-user" department.id %}" id="adduserbutton" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> {% trans "Add User" %}
        </a>
    {% endif %}
    {% if perms.users.change_department %}
        <a href="{% url 'department-edit' object.id %}" class="btn btn-primary btn-sm">
            <i class="fa fa-pencil"></i> {% trans "Edit" %}
        </a>
    {% endif %}
    {% if "section" in LABEL_TEMPLATES %}
        <a href="#" class="btn btn-primary btn-sm" data-target="#printDymoModal" data-toggle="modal">
            <i class="fa fa-print"></i> {% trans "Print Label" %}
        </a>
    {% endif %}
    {% if can_delete %}
        {% deletebutton "department-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>{%  trans "User" %}</th>
                <th>{% trans "Role" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for member in department_users %}
                <tr>
                    <td><a href="{% url 'userprofile' member.user.id %}">{{member.user}}</a></td>
                    <td>{{ member.get_role_display }}
                        {% if user != member.user %}
                            {% has_perm 'users.add_department_user' user department as can_add_department_user %}
                            {% if can_add_department_user %}
                                <a href="{% url "department-remove-user" member.id %}" class="close">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Remove from Department</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
