{% extends "base.html" %}
{% load i18n %}
{% block title %}{{profileuser}}{% endblock %}

{% block header %}
{{profileuser}}
{% endblock %}

{% block pullright %}

{% endblock %}

{% block content %}
<div class="row">
{% if profileuser.is_staff %}
  <div class="col-xs-12 col-md-6">
  <h4>{% trans "Edits" %}</h4>
  {% if edits %}
  <table id="change-history" class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th scope="col">{% trans 'Device' %}</th>
                              <th scope="col">{% trans 'Date/time' %}</th>
                              <th scope="col">{% trans 'Comment' %}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for action in edits %}
                              <tr>
                                  <td><a href="{% url 'device-detail' action.object_id %}">{{action.field_dict.name}}</a></td>
                                  <td><a href="{% url 'device-history' action.object_id action.pk %}">{{action.revision.date_created}}</a></td>
                                  <td>{{action.revision.comment|linebreaksbr|default:""}}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
  {% else %}
  <h5>{% trans "User hasn't edited anything." %}</h5>
  {% endif %}
</div>
{% endif %}
<div class="col-xs-12 col-md-{% if profileuser.is_staff %}6{% else %}12{% endif %}">
  <h4>{% trans "Owned devices" %}</h4>
{% if devices %}
  <table id="change-history" class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th scope="col">{% trans 'Device' %}</th>
                              <th scope="col">{% trans 'Lendt since' %}</th>
                              <th scope="col">{% trans 'Duedate' %}</th>
                              <th scope="col">{% trans 'Room' %}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for device in devices %}
                              <tr>
                                  <td><a href="{% url 'device-detail' device.pk %}">{{device.name}}</a></td>
                                  <td>{{device.currentlending.lenddate}}</td>
                                  <td>{{device.currentlending.duedate}}{% if device.currentlending.duedate < weekago %}<span class="error-icon">!</span>
{% elif device.currentlending.duedate < today %}<span class="warning-icon">!</span>
{% endif %}</td>
                                  <td>{{device.room}}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
{% else %}
  <h5>{% trans "User doesn't own any devices." %}</h5>
  {% endif %}
</div>
</div>
{% endblock %}