{% extends "base.html" %}
{% load i18n %}{% load staticfiles %}
{% block title %}{{ profileuser }}{% endblock %}

{% block header %}
    {{ profileuser }}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs mb-3" id="myTab">
        {% if perms.users.view_lageruser %}
            <li class="nav-item"><a class="nav-link active" href="#about" data-toggle="tab" data-tab="about">{% trans 'About' %}</a></li>
            <li class="nav-item"><a class="nav-link" href="#devices" data-toggle="tab" data-tab="devices">{% trans 'Devices' %}</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link active" href="#devices" data-toggle="tab" data-tab="devices">{% trans 'Devices' %}</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="#ipaddresses" data-toggle="tab" data-tab="edits">{% trans 'IP-Addresses' %}</a></li>
        {% if perms.users.view_lageruser %}
            <li class="nav-item"><a class="nav-link" href="#edits" data-toggle="tab" data-tab="edits">{% trans 'Edits' %}</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">
        {% if perms.users.view_lageruser %}
            <div class="tab-pane active" id="about">
                <div class="row">
                    <div class="col-md-6">
                        {% if profileuser.avatar %}
                            <div class="col-sm-12 col-md-2">
                                <a data-toggle="modal" data-target="#avatarModal" class="thumbnail">
                                    <img src="{{ profileuser.avatar.url }}" alt="{% trans 'Avatar' %}" class="img-fluid">
                                </a>
                            </div>
                        {% endif %}
                        <table class="table table-bordered">
                            <tr>
                                <td>{% trans "Name" %}</td>
                                <td>{{ profileuser.first_name }} {{ profileuser.last_name }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Main Department" %}</td>
                                <td>
                                    {% if profileuser.main_department %}
                                        <a href="{% url "department-detail" profileuser.main_department.id %}">{{ profileuser.main_department }}</a>
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Member of Departments" %}</td>
                                <td>{% for department in profileuser.departments.all %}
                                        <a href="{% url "department-detail" department.id %}">{{ department.name }}</a><br>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Groups" %}</td>
                                <td>
                                    {% for group in profileuser.groups.all %}
                                        {{ group.name }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Last Login" %}</td>
                                <td>
                                    <span title="{{ profileuser.last_login|date:"c" }}" data-timeago class="profile-date">{{ profileuser.last_login }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Account Expires on" %}</td>
                                <td><span>{{ profileuser.expiration_date|default:_("Never") }}</span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Is Staff" %}</td>
                                <td>
                                    {% if profileuser.is_staff %}
                                        <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                        <i class="fa fa-exclamation-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Is Superuser" %}</td>
                                <td>
                                    {% if profileuser.is_superuser %}
                                        <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                        <i class="fa fa-exclamation-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>{% trans "Permission" %}</th>
                                    <th>{% trans "User" %}</th>
                                    <th>{% trans "Group" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for permission in permission_list %}
                                    <tr>
                                        <td>{{ permission.name }}</td>
                                        <td>
                                            {% if permission.codename in userperms %}
                                                <i class="fa fa-check-circle text-success"></i>
                                            {% else %}
                                                <i class="fa fa-exclamation-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if permission.codename in groupperms %}
                                                <i class="fa fa-check-circle text-success"></i>
                                            {% else %}
                                                <i class="fa fa-exclamation-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="tab-pane {% if not perms.users.view_lageruser %}active{% endif %}" id="devices">
            <div class="col-md-12">
                <h4>{% trans "Owned devices" %}</h4>
                {% if lendings %}
                    <table id="devicetable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">{% trans 'Device' %}</th>
                                <th scope="col">{% trans 'Lent since' %}</th>
                                <th scope="col">{% trans 'Duedate' %}</th>
                                <th scope="col">{% trans 'Room' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lending in lendings %}
                                <tr>
                                    {% if lending.device.pk %}
                                        <td><a href="{% url 'device-detail' lending.device.pk %}">{{ lending.device.name }}</a>
                                    {% else %}
                                        <td>{{ lending.smalldevice }}
                                    {% endif %}
                                    <a href="{% url "device-return" lending.pk %}" class="pull-right" title="{% trans "Mark as returned" %}">
                                        <i class="fa fa-reply"></i></a>
                                    </td>
                                    <td>{{ lending.lenddate }}</td>
                                    <td>
                                        {{ lending.duedate }}
                                        {% if lending.duedate < weekago %}
                                            <i class="fa fa-exclamation-circle text-danger"></i>
                                        {% elif lending.duedate < today %}
                                            <i class="fa fa-exclamation-circle text-warning"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ lending.device.room }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5>{% trans "User doesn't own any devices." %}</h5>
                {% endif %}

                <h4>{% trans "Device history" %}</h4>

                {% if lendhistory %}
                    <table class="table table-bordered table-striped" data-table>
                        <thead>
                            <tr>
                                <th scope="col">{% trans 'Device' %}</th>
                                <th scope="col">{% trans 'Lenddate' %}</th>
                                <th scope="col">{% trans 'Returndate' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lenddevice in lendhistory %}
                                <tr>
                                    {% if lenddevice.device.pk %}
                                        <td><a href="{% url 'device-detail' lenddevice.device.pk %}">{{ lenddevice.device }}</a></td>
                                    {% else %}
                                        <td>{{ lenddevice.smalldevice }}</td>
                                    {% endif %}
                                    <td>{{ lenddevice.lenddate }}</td>
                                    <td>{{ lenddevice.returndate }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5>{% trans "User has no lending history" %}</h5>
                {% endif %}
            </div>
        </div>

        <div class="tab-pane" id="ipaddresses">
            <div class="col-md-6">
                <h4>{% trans "Owned IP-Addresses" %}</h4>
                {% if ipaddresses %}
                    <table id="ipaddresstable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">{% trans 'Address' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ipaddress in ipaddresses %}
                                <tr>
                                    <td>
                                        <a href="{% url 'ipaddress-detail' ipaddress.pk %}">{{ ipaddress.address }}</a>
                                        <a href="{% url 'user-ipaddress-remove' profileuser.pk ipaddress.pk %}" class="text-secondary pull-right"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5>{% trans "User doesn't own any IP-Addresses." %}</h5>
                {% endif %}
            </div>

            {% if perms.users.change_user %}
                <div class="col-md-6">
                    <form method="post" action="{% url 'user-ipaddress' profileuser.pk %}">
                        {% csrf_token %}
                        <div class="form-group">{{ ipaddressform.ipaddresses }}</div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success btn-sm disabled" id="submitipaddress">
                                <i class="fa fa-plus"></i> {% trans "Assign Addresses" %}
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>

        {% if perms.users.view_lageruser %}
            <div class="tab-pane" id="edits">
                <div class="col-md-12">
                    <h4>{% trans "Edits" %}</h4>
                    {% if edits %}
                        <table class="table table-bordered table-striped" data-table>
                            <thead>
                                <tr>
                                    <th scope="col">{% trans 'Device' %}</th>
                                    <th scope="col">{% trans 'Date/time' %}</th>
                                    <th scope="col">{% trans 'Comment' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for action in edits %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'device-detail' action.object_id %}">{{ action.field_dict.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{%  url "history-detail" action.pk %}">{{ action.revision.date_created }}</a>
                                        </td>
                                        <td>{{ action.revision.comment|linebreaksbr|default:"" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h5>{% trans "User hasn't edited anything." %}</h5>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    {% if perms.users.view_lageruser and profileuser.avatar %}
        {% include "snippets/modals/avatarView.html" with modalname="avatarModal" avatarpath=profileuser.avatar.url %}
    {% endif %}
{% endblock %}

{% block scriptend %}
    $("#id_ipaddresses").on("change", function(e) {
        if ($(this).val()) {
            $("#submitipaddress").removeClass("disabled");
        } else {
            $("#submitipaddress").addClass("disabled");
        }
    });

    $(function() {
        var $affix = $(".affix-container");
        var $parent = $affix.parent();
        var resize = function() {
            $affix.width($parent.width());
        };
        $(window).resize(resize);
        resize();

        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
        }
    });
{% endblock %}
