{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Settings" %}{% endblock %}

{% block header %}
{{profileuser}}
{% endblock %}

{% block pullright %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form action="{% url 'usersettings' %}" method="post">
{% csrf_token %}
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == user.language %} selected="selected"{% endif %}>{{ language.name_local }} ({{ language.code }})</option>
{% endfor %}
</select>

<input type="submit" value="Go" />
</form>
</div>
</div>
{% endblock %}