{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{% trans "Unassign IP-Address" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert-danger alert">
                {% blocktrans %}Do you really want to unassign the IP-Address {{ ipaddress }} from {{ user }}?{% endblocktrans %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="text-right">
                    <a href="{{ user.get_absolute_url }}" class="btn btn-secondary btn-sm">{% trans "No" %}</a>
                    <input type="submit" value="{% trans "Yes" %}" class="btn btn-danger btn-sm"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
