{% load i18n %}

<div class="card border-{% block card-border %}primary{% endblock %} widget mb-3" id="{% block widgetname %}{% endblock %}">
    <div class="card-header bg-{% block card-bg %}primary{% endblock %} text-white">
        <h3 class="card-title h5 mb-0">
            {% block title %}{% endblock %}
            <div class="pull-right" {% if hidecontrols %}hidden{% endif %}>
                <a><i class="fa fa-{{ widget.minimized|yesno:'plus,minus' }} w-minimize"></i></a>
                <a><i class="fa fa-times w-close"></i></a>
            </div>
        </h3>
    </div>
    {% block content %}{% endblock %}
</div>