{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Groups' %}
{% endblock %}

{% block widgetname %}devicegroups{% endblock %}

{% block content %}
    <table class="table table-bordered" {% if widget.minimized and usestable %}style="display: none;"{% endif %}>
        <thead>
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Devices' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for devicegroup in devicegroups %}
            <tr>
                <td><a href="{% url 'devicegroup-detail' devicegroup.pk %}">{{ devicegroup.name }}</a></td>
                <td>{{ devicegroup.devices.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
