{% extends "snippets/widgets/basewidget.html" %}
 {% load i18n %}

 {% block title %}
 {% trans 'Overdue devices' %}
 {% endblock %}

{% block widgetname %}overdue{% endblock %}

 {% block content %}
<table class="table table-bordered"{% if widget.minimized and usestable %}style="display: none;"{% endif %}>
    <thead>
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Duedate' %}</th>
            <th scope="col">{% trans 'Lent to' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for lending in overdue %}
            <tr>
                <td>
                {% if lending.device %}
                    <a href="{% url 'device-detail' device.pk %}">{{lending.device.name}}</a>
                {% else %}
                    {{lending.smalldevice}}</a>
                {% endif %}
                </td>
                <td>{{lending.duedate}}</td>
                <td><a href="{% url 'userprofile' lending.owner.pk %}">{{ lending.owner }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="panel-footer">
    <a href="{% url 'device-list' filter='overdue' sorting='name' %}" class="pull-right">{% trans "More…" %}</a>
    <div class="clearfix"></div>
</div>
{% endblock %}