{% extends "snippets/widgets/basewidget.html" %}
 {% load i18n %}

 {% block title %}
 {% trans 'Statistics' %}
 {% endblock %}

{% block widgetname %}statistics{% endblock %}

 {% block content %}
    <table id="adresstable" class="table table-bordered" {% if widget.minimized and usestable %}style="display: none;"{% endif %}>
  <tbody>
    <tr>
      <td>{% trans "Total devices" %}</td>
      <td>{{device_all}}</td>
    </tr>
    <tr>
      <td>{% trans "Available devices" %}</td>
      <td>{{device_available}}</td>
    </tr>

    <tr>
      <td>{% trans "Total IP addresses" %}</td>
      <td>{{ipaddress_all}}</td>
    </tr>
    <tr>
      <td>{% trans "Available IP addresses" %}</td>
      <td>{{ipaddress_available}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}

