{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Mailtemplates" %}{% endblock %}

{% block header %}
    {% trans "Mailtemplates" %}
{% endblock %}

{% block pullright %}
    {% if perms.mail.add_mailtemplate %}
        <a href="{% url 'mail-add' %}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> {% trans "Add Mailtemplate" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Usage" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mail_list %}
                <tr>
                    <td><a href="{% url 'mail-detail' mail.id %}">{{ mail.name }}</a></td>
                    <td>{{ mail.subject }}</td>
                    <td>{{ mail.get_usage_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
